<h2>Media Releases</h2>

<p>
<strong>December 2, 2011</strong> - <a href="http://www.cybera.ca/media-centre/media-releases/new-video-and-website-highlight-benefits-water-open-data-project">New Video and Website Highlight the Benefits of Water Open Data Project</a><br />
<strong>March 22, 2010</strong> - <a href="http://www.ec.gc.ca/default.asp?lang=En&n=714D9AAE-1&news=CA2C2F86-3A9C-4B97-BA99-C2331F99F652">Government of Canada celebrates World Water Day with an investment in water quality research</a><br />
</p>

<h2>WEHUB in the News</h2>

<p>
<strong>February 7, 2012</strong> - <a href="http://www.waterhackathon.org/evaluating-the-water-hackathon-what%E2%80%99s-your-problem/">Evaluating the Water Hackathon: What’s Your Problem?", World Bank Water Hackathon</a><br />
<strong>February 2, 2012</strong> - <a href="http://watercanada.net/2012/app-savvy/">App Savy", Water Canada Magazine</a><br />
<strong>January 10, 2012</strong> - <a href="http://watersnext.ca/">Democratizing Data", Water’s Next (an annual publication from Water Canada magazine), p24</a><br />
<strong>January 6, 2012</strong> - <a href="http://www.netera.ca/news/services">Join Cybera and WEHUB at Metropolis", Cybera News</a><br />
<strong>January 5, 2012</strong> - <a href="http://www.geog.uvic.ca/dept/cag/geognews/geognews156.pdf">WEHUB Flowchart App", GeogNews, Canadian Association of Geographers</a><br />
<strong>December 15, 2011</strong> - <a href="http://www.producer.com/2011/12/website-serves-water-data-for-public-consumption/">Website serves water data for public consumption", The Western Producer</a><br />
<strong>October 26, 2011</strong> - <a href="http://datalibre.ca/2011/10/26/liberating-water-data-guest-post-by-alex-joseph-wehub/">Liberating Water Data - Guest Post by Alex Joseph - WEHUB", DataLibre.ca</a><br />
<strong>October 24, 2011</strong> - <a href="http://canadawater.wordpress.com/2011/10/24/the-water-and-environmental-hub-%E2%80%93-making-water-and-environmental-data-more-accessible/">The Water and Environmental Hub - Making Water and Environmental Data More Accessible", H2O: Ideas & Actions for Canada’s Water - A blog about the Lake Winnipeg Watershed</a><br />
<strong>September 2011</strong> - <a href="http://blog.apievangelist.com/2011/09/09/a-flood-of-apis-just-waiting-to-happen/">A Flood of APIs Just Waiting to Happen", API Evangelist</a><br />
<strong>September 2011</strong> - <a href="http://www.usask.ca/ip3/download/WrapupWorkshop/Allchin_9Sep11.pdf ">IP3 Data Archive", IP3 Network, University of Saskatchewan</a><br />
<strong>January/February 2011</strong> - <a href="http://watercanada.net/archives/">Water Canada Magazine, "Tools for the Trade"</a><br />
<strong>March 22, 2010</strong> - <a href="http://www.uleth.ca/unews/legend/content/u-l-pegged-water-hub">"U of L pegged as Water Hub", The Legend</a><br />
</p>

<%
=begin %>
<h2>Publications</h2>

<h2>Presentations</h2>
<%
=end %>
