<h2>Media Releases</h2>

<p>
<strong>December 2, 2011</strong> - <a href="http://www.cybera.ca/media-centre/media-releases/new-video-and-website-highlight-benefits-water-open-data-project">New Video and Website Highlight the Benefits of Water Open Data Project</a><br />
<strong>March 22, 2010</strong> - <a href="http://www.ec.gc.ca/default.asp?lang=En&n=714D9AAE-1&news=CA2C2F86-3A9C-4B97-BA99-C2331F99F652">Government of Canada celebrates World Water Day with an investment in water quality research</a><br />
</p>

<h2>WEHUB in the News</h2>

<p>
<strong>September 12, 2012</strong> - 1 of 2 water data platform presentations at "BC Water Info Sharing Workshop", BC Ministry of Environment<br />
<strong>August 27, 2012</strong> - Presented at <a href="http://summit.albertainnovates.ca/blogs/speakers-projects">Summit on Environmental Monitoring and Innovation</a><br />
<strong>August 2012</strong> - Featured on <a href="https://osi.alberta.ca/osi-content/Pages/Resources.aspx">Alberta Government Office of Statistics and Information</a><br />
<strong>July 2012</strong> - WEHUB signs contract to develop data aggregation tool for <a href="http://curah2o.com/">Nova Scotia CURA H20</a> to be used across Nova Scotia, Nepal, Gambia, Cuba<br />
<strong>July 2012</strong> - Listed on <a href="http://waterdatahub.org/">Water Data Hub</a><br />
<strong>June 8, 2012</strong> - Presented at <a href="http://aquadoc.typepad.com/files/proceedings-of-2012-cwra-cgu-conference-june-5-8.pdf">CWRA-CGU National Conference</a><br />
<strong>May 2012</strong> - Presented at <a href="http://www.geoalberta.com/Program/ProgramSchedule/Technicalabstracts/tabid/120/Default.aspx">GeoAlberta 2012</a><br />
<strong>April 2012</strong> - <a href="http://nrtee-trnee.ca/water/water-sustainability-and-the-future-of-canadas-natural-resource-sectors-2/moving-to-action-nrt-national-water-forum-report">"Moving to Action: Report on Water Forum”</a>, National Roundtable on Energy and Environment<br />
<strong>April 2012</strong> - 2 years funding secured from <a href="http://www.canadaschoolofenergy.com/">Canadian School of Energy and Environment</a><br />
<strong>April 2012</strong> - <a href="http://www.explorus.org">Explorus Data Solutions Inc.</a> (not-for-profit) created to house and grow Water Environmental Hub project<br />
<strong>March 2012</strong> - Referenced on <a href="http://okcp.ca/index.php?option=com_mtree&task=viewlink&link_id=470&Itemid=369">Okanagan Conservation Planning</a><br />
<strong>March 2012</strong> - <a href="http://livingwatersmart.ca/watersciencestrategy/docs/Appendix-WaterInformationResources.pdf">"Summary of Water Info Resources”</a>, BC Ministry of Environment<br />
<strong>February 2012</strong> - 1 of 6 <a href="http://geoconnections.nrcan.gc.ca/">Natural Resources Canada GeoConnections</a> funded projects<br />
<strong>February 7, 2012</strong> - <a href="http://www.waterhackathon.org/evaluating-the-water-hackathon-what%E2%80%99s-your-problem/">"Evaluating the Water Hackathon: What’s Your Problem?"</a>, World Bank Water Hackathon<br />
<strong>February 2, 2012</strong> - <a href="http://watercanada.net/2012/app-savvy/">"App Savy"</a>, Water Canada Magazine<br />
<strong>January 2012</strong> - Listed on <a href="http://en.wikipedia.org/wiki/Open_data_in_Canada">Wikipedia > Open Data in Canada</a><br />
<strong>January 10, 2012</strong> - "Democratizing Data", <a href="http://watersnext.ca/">Water’s Next</a> (an annual publication from Water Canada magazine), p24<br />
<strong>January 6, 2012</strong> - <a href="http://www.netera.ca/news/services">"Join Cybera and WEHUB at Metropolis"</a>, Cybera News<br />
<strong>January 5, 2012</strong> - <a href="http://www.geog.uvic.ca/dept/cag/geognews/geognews156.pdf">"WEHUB Flowchart App"</a>, GeogNews, Canadian Association of Geographers<br />
<strong>December 15, 2011</strong> - <a href="http://www.producer.com/2011/12/website-serves-water-data-for-public-consumption/">"Website serves water data for public consumption"</a>, The Western Producer<br />
<strong>October 26, 2011</strong> - <a href="http://datalibre.ca/2011/10/26/liberating-water-data-guest-post-by-alex-joseph-wehub/">Liberating Water Data - Guest Post by Alex Joseph - WEHUB"</a>, DataLibre.ca<br />
<strong>October 24, 2011</strong> - <a href="http://canadawater.wordpress.com/2011/10/24/the-water-and-environmental-hub-%E2%80%93-making-water-and-environmental-data-more-accessible/">The Water and Environmental Hub - Making Water and Environmental Data More Accessible"</a>, H2O: Ideas & Actions for Canada’s Water - A blog about the Lake Winnipeg Watershed<br />
<strong>October 6, 2011</strong> - Convened WEHUB forum and conference sessions at <a href="http://www.cybera.ca/summit2011/wehub-sessions">Cybera Summit 2011</a><br />
<strong>September 2011</strong> - <a href="http://blog.apievangelist.com/2011/09/09/a-flood-of-apis-just-waiting-to-happen/">A Flood of APIs Just Waiting to Happen"</a>, API Evangelist<br />
<strong>September 2011</strong> - <a href="http://www.usask.ca/ip3/download/WrapupWorkshop/Allchin_9Sep11.pdf">"IP3 Data Archive"</a>, IP3 Network, University of Saskatchewan<br />
<strong>July 24, 2011</strong> - Presented at <a href="http://www.ieee-earth.org/event/geoss-workshop-xli-hydrology">GEOSS Workshop XLI - Hydrology</a><br />
<strong>July 15, 2011</strong> - Participated in the <a href="http://www.dataone.org/dataone-users-group">DATAONE User Group Meeting</a><br />
<strong>June 30, 2011</strong> - Presented at <a href="http://www.cwra2011nl.ca/">CWRA National Conference</a><br />
<strong>January/February 2011</strong> - <a href="http://watercanada.net/archives/">Water Canada Magazine, "Tools for the Trade"</a><br />
<strong>March 22, 2010</strong> - <a href="http://www.uleth.ca/unews/legend/content/u-l-pegged-water-hub">"U of L pegged as Water Hub", The Legend</a>, University of Lethbridge<br />
</p>

<%
=begin %>
<h2>Publications</h2>

<h2>Presentations</h2>
<%
=end %>
