<h2>Media Releases</h2>

<p>
<strong>March 22, 2010</strong> - <a href="http://www.ec.gc.ca/default.asp?lang=En&n=714D9AAE-1&news=CA2C2F86-3A9C-4B97-BA99-C2331F99F652">Government of Canada celebrates World Water Day with an investment in water quality research</a>
</p>

<h2>WEHUB in the News</h2>

<p>
<strong>March 22, 2010</strong> - <a href="http://www.uleth.ca/unews/legend/content/u-l-pegged-water-hub">The Legend, "U of L pegged as Water Hub"</a><br />
<strong>Jan/Feb 2011</strong> - <a href="http://watercanada.net/archives/">Water Canada Magazine, "Tools for the Trade"</a><br />
<strong>Sep 2011</strong> - <a href="http://www.usask.ca/ip3/download/WrapupWorkshop/Allchin_9Sep11.pdf">"IP3 Data Archive"</a><br />
<strong>Sep 2011</strong> - <a href="http://blog.apievangelist.com/2011/09/09/a-flood-of-apis-just-waiting-to-happen/">"A Flood of APIs Just Waiting to Happen"</a>
</p>

<%
=begin %>
<h2>Publications</h2>

<h2>Presentations</h2>
<%
=end %>
