.profile-left-box{
	float:left;
	margin:34px 0 0 0;
	padding:25px 8px;
	border:solid 1px #ACACAC;
	width:274px;
	background:#FFFFFF;
	color:#525252;
	font-size:14px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.profile-right-container{
	float:left;
	margin-left:20px;
}
.profile-tab-container{
	margin-left:22px;
	float:left;
}
.profile-tab-container .profile-tab,.community-tab-right .profile-tab{
	height:27px;
	width:58px;
	background:#CACAC8;
	color:#FFFFFF;
	text-align:center;
	padding:7px 0 0 0;
	float:left;
	margin-right:5px;
	cursor:pointer;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.profile-tab-container .profile-tab:hover,.profile-tab-container .profile-tab-select,.community-tab-right .profile-tab:hover,.community-tab-right .profile-tab-select{
	background:#61C1F3 !important;
}
.profile-content-container{
	border:solid 1px #ACACAC;
	background:#FFFFFF;
	padding:26px 20px 70px;
	width:735px;
	margin-top:-1px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.profile-left-head{
	font-size:20px;
	padding:0 0 5px 0;
	margin:0 0 10px 0;
	color:#525252;
	border-bottom:solid 1px #AFAFAF
}
.profile-left-head .head-name{
	color:#04629F;
}
.profile-left-friends-list{
	float:left;
	margin:0 0 5px 5px;
}
.profile-left-friends-list-more{
	float:left;
	margin:0 0 5px 5px;
	border:solid 1px #CACAC8;
	width:34px;
	height:30px;
	text-align:center;
	font-size:10px;
	line-height:1.0em;
	padding-top:4px;
	cursor:pointer;
}
.profile-content-container .profile-image-box{
	float:left;
	width:90px;
	margin-right:20px;
}
.profile-content-container .profile-content-details{
	float:left;
	width:610px;
	font-size:13px;
	color:#626166;
	line-height:1.2em;
}
.profile-content-details .profile-title-head{
	float:left;
	font-size:16px;
	font-weight:bold;
}
.profile-content-details .profile-label{
	float:left;
	width:175px;
	margin:5px 5px 5px 0;
}
.calendar-text{
	background:url(/images/icon-calendar.jpg) no-repeat scroll 0 0 transparent;
	padding-left:18px;
}
.marker-text{
	background:url(/images/icon-marker.jpg) no-repeat scroll 0 0 transparent;
	padding-left:18px;
}
.message-text{
	background:url(/images/icon-message.jpg) no-repeat scroll 0 0 transparent;
	padding-left:18px;
}
.mobile-text{
	background:url(/images/icon-mobile.jpg) no-repeat scroll 0 0 transparent;
	padding-left:18px;
}
.profile-text{
	background:url(/images/icon-profile.jpg) no-repeat scroll 0 0 transparent;
	padding-left:18px;
}
.speak-text{
	background:url(/images/icon-speak.jpg) no-repeat scroll 0 0 transparent;
	padding-left:18px;
}
.comments-activity-text{
	background:url(/images/icon-comment-grey.jpg) no-repeat scroll 0 0 transparent;
	padding-left:24px;
	height:21px;
}
.profile-sub-head{
	height:19px;
	padding:3px 5px;
	margin:10px 0 0 0;
	font-size:16px;
	color:#363533;
	background:#D8E9F0;
}
.profile-content-para{
	margin:5px 0;
	text-align:justify;
	
}
.profile-text-part{
	float:left;
	margin:3px 25px 3px 0;
}
.profile-friend-each{
	float:left;
	width:135px;
	color:#535353;
	margin:10px 0 0 0;
}
.profile-friend-each .text{
	float:left;
	padding-left:8px;
}
.profile-activity-post-box{
	padding:10px;
	background:#EBEBEB;
}
.activity-content-box{
	padding:15px 15px 5px;
	margin:5px 0 10px;
	border:solid 1px #E2E1DD;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.activity-content-box .activity-image{
	float:left;
	margin:0 5px 0 0;
}
.activity-content-box .activity-text{
	float:left;
	margin:0 10px 0 0;
	color:#525252;
	font-size:13px;
}
.activity-content-box .activity-text div{
	margin:0 0 5px 0;
}
.activity-content-box .activity-text .title{
	color:#000000;
	font-size:14px;
	font-weight:bold;
}
.activity-content-box .activity-text .dataset{
	color:#0462A0;
}
.activity-content-box .activity-text .group{
	color:#0462A0;
	text-decoration:underline;
}
.activity-content-box .activity-ago{
	float:right;
	margin:0 10px;
	color:#AFAFAF;
	font-size:12px;
}
.community-landing-content{
	margin:35px 10px;
}
.community-landing-tab-body{
	float:left;
	margin:10px 10px;
	border:solid 1px #E2E1DD;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.community-landing-tab-body .community-landing-tab{
	background:url(/images/community-tab-arrow.png) no-repeat right center;
	width:308px;
	height:67px;
	margin:10px 15px;
}
.community-landing-tab-body .community-landing-tab .community-landing-tab-image{
	float:left;
	width:64px;
	margin:0 10px 0 0;
}
.community-landing-tab-body .community-landing-tab .community-landing-tab-text{
	float:left;
	width:205px;
	margin:5px 5px 0 0;
	color:#5F5F5F;
}
.community-tab-ul{
	float:left;
}
.community-tab-ul ul{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0 0 0 20px;
	padding:0;
	top:1px;
}
.community-tab-ul ul li{
	float:left;
	width:75px;
	height:80px;
	text-align:center;
	padding-bottom:3px;
	color:#A5A5A5;
	font-size:9px;
}
.community-tab-ul ul li a{
	text-decoration:none;
	color:#A5A5A5;
}
.community-tab-ul ul li.news{
	background:url(/images/community-news-tab.png) no-repeat 50% 10px;
}
.community-tab-ul ul li.news-selected{
	background:#FFFFFF url(/images/community-news-tab-selected.png) no-repeat 50% 10px;
	border:1px solid #ACACAC;
	border-bottom:none;
	color:#0295DA;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
}
.community-tab-ul ul li.news-selected a{
	color:#0295DA;
}
.community-tab-ul ul li.friends{
	background:url(/images/community-friends-tab.png) no-repeat 50% 10px;
}
.community-tab-ul ul li.friends-selected{
	background:#FFFFFF url(/images/community-friends-tab-selected.png) no-repeat 50% 10px;
	border:1px solid #ACACAC;
	border-bottom:none;
	color:#0295DA;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
}
.community-tab-ul ul li.friends-selected a{
	color:#0295DA;
}
.community-tab-ul ul li.groups{
	background:url(/images/community-groups-tab.png) no-repeat 50% 10px;
}
.community-tab-ul ul li.groups-selected{
	background:#FFFFFF url(/images/community-groups-tab-selected.png) no-repeat 50% 10px;
	border:1px solid #ACACAC;
	border-bottom:none;
	color:#0295DA;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
}
.community-tab-ul ul li.groups-selected a{
	color:#0295DA;
}
.community-tab-ul ul li.datasets{
	background:url(/images/community-datasets-tab.png) no-repeat 50% 10px;
}
.community-tab-ul ul li.datasets-selected{
	background:#FFFFFF url(/images/community-datasets-tab-selected.png) no-repeat 50% 10px;
	border:1px solid #ACACAC;
	border-bottom:none;
	color:#0295DA;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
}
.community-tab-ul ul li.datasets-selected a{
	color:#0295DA;
}
.community-tab-right{
	float:right;
	margin:50px 20px 0 0;
}
.share-search-box{
	background:#E9EAE5;
	border:solid 1px #C0C0BE;
	padding:20px 13px;
	margin-top:-1px;
}
.share-find-text{
	float:left;
	color:#727272;
	font-size:19px;
	margin:7px 10px 0 0;
}
.share-search-text{
	float:left;
	height:36px;
	width:305px;
	border:solid 1px #D3D3D3;
	border-bottom:none;
	border-right:none;
	background:#FFFFFF;
	margin:0 5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.share-search-text input{
	border:0px;
	width:300px;
	height:25px;
	vertical-align:baseline;
	margin:7px 0 0 0;
	font-size:16px;
	color:#959595;
	padding:0 2px;
}
.share-middle-filter{
	margin:10px;
}
.share-middle-filter a{
	color:#515151;
	font-size:13px;
	text-decoration:underline;
	margin:0 10px 0 0;
}
.share-middle-filter a:hover, .share-middle-filter a.selected{
	color:#005498;
}
.community-sub-tab-ul{
	float:left;
}
.community-sub-tab-ul ul{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0 0 0 10px;
	padding:0;
	top:1px;
}
.community-sub-tab-ul ul li{
	float:left;
	text-align:center;
	padding:8px;
	color:#4A4A4A;
	font-size:15px;
	margin:0 10px 0 0;
}
.community-sub-tab-ul ul li a{
	text-decoration:none;
	color:#4A4A4A;
}
.community-sub-tab-ul ul li.selected, .community-sub-tab-ul ul li.selected a, .community-sub-tab-ul ul li a:hover{
	color:#1DA42B;
}
.community-sub-tab-ul ul li.border-background{
	background:#E9EAE5;
	border:solid 1px #C0C0BE;
	border-bottom:none;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.activity-content-box .share-text{
	float:left;
	margin:0 10px 0 10px;
	color:#525252;
	font-size:13px;
	
}
.activity-content-box .share-text div{
	margin:0 0 5px 0;
}
.activity-content-box .share-text .title{
	color:#075DA8;
	font-size:14px;
	font-weight:bold;
	
}
.activity-content-box .share-text .head{
	color:#4C4C4E;
	font-size:14px;
	font-weight:bold;
	width:200px;
}
.activity-content-box .share-text .content-text{
	text-decoration:underline;
	margin:0 10px 0 5px;
}
.activity-content-box .friends-edit-delete{
	float:right;
	margin:10px 0;
}
.activity-content-box .friends-edit-delete a{
	margin:0 5px;
}
