body {
	background: #FFFFFF;
	font-family: Helvetica;      
	margin: auto;
	text-align:center;
}
.float-right{
	float:right;
}
.float-left{
	float:left;
}
.clear{
	clear:both;
}
#main-body{
	background:#F6F6F6;
	text-align:center;
	
}
#header-body{
	width:1090px;
	text-align:left;
	height:135px;
	margin:0 auto;
}

.user-dashboard {
  height:40px;
  padding-top:10px;
  float:right;
}

.user-dashboard .seperator {
  border-left: solid 1px #E6E6E6;
  width:1px;
  color: #F6F6F6;
  height:45px;
  position: absolute;
}
.user-dashboard .log-in, .user-dashboard .log-out {
  padding-left: 10px;
}
.user-dashboard .sign-up, .user-dashboard .banner {
  padding-right: 5px;
}
.user-dashboard .banner {
  /*vertical-align: super;*/
}


#header-body .header-logo{
	background: url(/images/header-logo.jpg) no-repeat;
	width:258px;
	height:71px;
	float:left;
}
#header-body .header-tab{
	float:right;
	width:830px;
}
#header-body .header-tab ul{
	list-style: none;
	float:right;
	padding-top:30px;
	margin:0px;
}
#header-body .header-tab li{
	padding:0 10px;
	float:left;
	color:#808080;
	border-right:solid 1px #E6E6E6;
	font-family:Latinaires;
	font-size:14px;
}
#header-body .header-tab li.no-border{
	border:none !important;
}
#header-body .header-tab li a{
	text-decoration:none;
	color:#808080;
}
#header-body .header-tab li.selected a{
	color:#43AD49;
}
#header-body .header-tab li a:hover{
	text-decoration:none;
	color:#43AD49;
}
#content-body{
	background: #FFFFFF url(/images/bg-repeat.jpg) repeat-x;
	text-align:center;
}
#content-body .content{
	padding:30px 10px;
	width:1090px;
	text-align:left;
	margin:0 auto;
}
#footer-body{
	background: #FFFFFF url(/images/bg-repeat-footer.jpg) repeat-x;
	height:100px;
	text-align:center;
}
#footer-body .footer-content{
	width:1090px;
	border-top:solid 1px #E2E2E2;
	padding-top:34px;
	font-size:11px;
	color:#C4C9CC;
	text-align:left;
	margin:0 auto;
}
#footer-body .footer-content ul{
	list-style: none;
	margin:0px;
}
#footer-body .footer-content li{
	padding:0 10px;
	float:left;
	color:#C4C9CC;
	border-right:solid 1px #C4C9CC;
	
}
#footer-body .footer-content li.no-border{
	border-right:0px !important;
}
#footer-body .footer-content li a{
	text-decoration:none;
	color:#C4C9CC;
}
.breadcrumb-body{
	margin:13px 0 0 0;
	padding:6px 10px 0 10px;
	width:1090px;
	height:30px;
	background-color:#EDF7F9;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	color:#525252;
	font-family:Arial;
	font-size:18px;
}
.braedcrumb-sep{
	font-size:14px;
	color:#AFAFAF;
	padding:0 5px;
}
.breadcrumb-select{
	font-size:16px;
	color:#35A33B;
	
}
.tab-menu-body{
	margin:30px 0 0 20px;
}
.tab-menu-body .tab-menu{
	float:left;
	margin:0 8px 0 0;
	background-color:#CACAC8;
	color:#FFFFFF;
	padding:5px 16px 0 16px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	height:35px;
	width:auto;
}
.tab-menu-body .tab-menu a{
	color:#FFFFFF;
	text-decoration:none;
}
.tab-menu-body .tab-menu:hover{
	background-color:#5EBEF0;
}
.tab-menu-body .tab-menu-select{
	background-color:#5EBEF0;
}
.sub-content-body{
	margin:0px;
	padding:20px 15px 30px 15px;
	width:1090px;
	border:solid 1px #D3D3D3;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
}
.sub-content-left{
	float:left;
	width:255px;
}
.sub-content-left .left-tab-body{
	height:50px;
	width:100%;
	border-top:dotted 1px #B2B2B2;
	border-bottom:dotted 1px #B2B2B2;
}
.sub-content-left .left-tab{
	float:left;
	margin:10px 4px;
	background-color:#CACAC8;
	color:#FFFFFF;
	padding:1px 12px 0 12px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	height:29px;
	width:auto;
}
.sub-content-left .left-tab a{
	color:#FFFFFF;
	text-decoration:none;
} 
.sub-content-left .left-tab:hover{
	background-color:#38AA3B;
	cursor:pointer;
}
.sub-content-left .tab-select{
	background-color:#38AA3B;
}
#filter-container{
	padding:25px 0;
}
#filter-container .filter-part{
	float:left;
	width:100%;
	margin:5px 0;
}
#filter-container .filter-left{
	float:left;
	width:30px;
}
#filter-container .filter-right{
	float:left;
	width:225px;
}
#filter-container .filter-right div{
	margin:0 0 10px 0;
}
.select-box-1{
	width:190px;
	padding:2px;
	background-color:#FFFFFF;
	border:solid 1px #999999;
	color:#525252;
}
.select-box-2{
	width:160px;
	padding:2px;
	background-color:#FFFFFF;
	border:solid 1px #999999;
	color:#525252;
}
.sub-content-center{
	float:left;
	width:591px;
	padding:0 15px;
}
.sub-content-center .chart-body{
	width:591px;
	background-color:#EBEBE9;
	border:solid 1px #C7C7C5;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
}
.sub-content-center .chart-body .chart{
	width:530px;
	padding:20px 
}
.sub-content-right{
	float:left;
	width:179px;
}
.sub-content-right .right-content{
	margin:0 0 20px 0;
}
.sub-content-right .main-head{
	padding-bottom:5px;
	margin-bottom:10px;
	border-bottom:solid 1px #DCDCDC;
}
.sub-content-right h1{
	font-size:18px;
	font-weight:normal;
	margin:-5px 0 0 10px;
}
.sub-content-right .contents{
	border-bottom:dotted 1px #DCDCDC;
}
.sub-content-right h2{
	color:#6A6A6A;
	font-size:14px;
	font-weight:normal;
	margin:0;
}
.sub-content-right .contents div{
	margin:0;
	padding:0;
	height:auto;
}
.sub-content-right .contents a{
	color:#001EA3;
	text-decoration:underline;
	font-size:12px;
	font-weight
}
.sub-content-right .contents .date{
	color:#AFAFAF;
	font-size:12px;
}