<!DOCTYPE html>
<html>
<head>
  <title>The Water and Environment Hub (WEHUB)</title>
  <%= stylesheet_link_tag :all %>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script> 
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script> 
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAR7kR54BVDlqWYhWz74JPDRSZo37HQaflXCiy6TGG4RzVNrC14RSLPfT8dP76-nMO0wjDhCw5H9KnfQ" type="text/javascript"></script>
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script src="http://clients.multimap.com/API/maps/1.1/metacarta_04"></script>
  
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  
  <style>
    body {
      background: #E2EBF3 url('/images/bodybackground.jpg') repeat-x fixed center top;
      font-family: Helvetica;      
      width: 990px;
      margin: auto;
    }
    #search_query {
      width: 100px;
    }
    table {
      width: 100%;      
    }
    #dialog-modal {
      font-size: .8em;
    }
    #dialog-modal span {
      font-weight: bold;
    }
    .ui-widget-content {
      font-size: 1em;
    }
</style>
<script>
  $(document).ready(function() {
    var tabMenu = $('#tabs');
    tabMenu.tabs({
      selected: 1
    });
  });
</script>
</head>
<body>
  <img src='images/water-drop.png' height='63' width='63' style="padding-bottom: 10px; padding-top: 15px;" />
  <h1 style='color: #004B97; display: inline; position: absolute; top: -5px'>The Water and Environment Hub<br><span style="left: 300px; position: relative; left: 395px; top: -10px; font-size: 18pt; color: #728496">(WEHub)</span></h1>
  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">About</a></li>
      <li><a href="#tabs-2">WE Data Catalogue</a></li>
      <li><a href="#tabs-3">WE Tools</a></li>
      <li><a href="#tabs-4">Contact Us</a></li>
    </ul>
    <div id="tabs-1">About</div>
    <div id="tabs-2">
<!-- content -->      
      <%= yield %>
<!-- end of content -->      
    </div>
    <div id="tabs-3">WE Tools</div>
    <div id="tabs-4">Contact Us</div>
  </div>
</body>
</html>
