<!DOCTYPE html>
<html>
<head>
  <title>The Water and Environment Hub (WEHUB)</title>
  <%= stylesheet_link_tag :all %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script> 
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <style>
    table#top {
      font-weight: bold;
      font-size: 13pt;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
    table#top td {
      padding: 2px 10px 0px 10px;
      border: solid 1px grey;
      -moz-border-radius: 4px 3px 6px / 2px 4px;
      border-radius: 4px 3px 6px / 2px 4px;    
    }
    table#top td.selected {
      background-color: #dfdfdf;
    }
    table#top td.submenu {
      border: 0px;
      font-weight: normal;
      font-size: 10pt;
      
    }
    table .body {
      border: solid 1px grey;
      margin-top: 0px;
      padding-top: 0px;
      background-color: #E8EDE6;
      -moz-border-radius: 4px 3px 6px / 2px 4px;
      border-radius: 4px 3px 6px / 2px 4px;    
      
    }
    #search_query {
      width: 100px;
    }
    table {
      width: 100%;
      
    }
</style>
</head>
<body>
  <h1>The Water and Environment Hub (WEHUB)</h1>
  <table id="top" width="100%">
    <tr>
      <td>About</td>
      <td class="selected">WE Data Catalogue</td>
      <td>WE Tools</td>
      <td>WE Community</td>
      <td>Contact Us</td>
      <td class="submenu" align="right" width="43%"><a href="">login</a></td>
    </tr>
  </table>
  <table>
    <tr>
      <td class="body">
<%= yield %>
      </td>
    </tr>
  </table>

</body>
</html>
