

<div class="search-result-each search-result-each-box">
	<div class="search-checkbox">
		<input type="checkbox" />
	</div>
	<div class="search-text">
		<div class="float-left">
			<span class="search-title">
				<%= dataset.date %>
			</span>&nbsp;
			<span class="search-date">
				<%= dataset.updated_at %>
			</span>
		</div>
		<div class="clear"></div>
		<p>
			<span class="head">Abstract:</span>
			<span>
				<%= dataset.description %>			
      </span>
		</p>
		<p>
			<div class="third-sep">
				<span class="head">Author: </span>
				<span>TBD</span>
			</div>
			<div class="third-sep">
				<span class="head">Start Date: </span>
				<span>2010-03-10</span>
			</div>
			<div class="third-sep">
				<span class="head">End Date: </span>
				<span>2010-05-05</span>
			</div>
			<div class="clear"></div>
		</p>
		<p>
			<span class="head">Number of Observed Properties: </span><span>TBD</span><br />
			<span class="head">Number of Features: </span><span>TBD</span>
		</p>
		<div class="search-btm-image-link">
			<a href="#">
				<img src="/images/1.png" border="0" />
			</a>
			<a href="#">
				<img src="/images/2.png" border="0" />
			</a>
			<a href="#">
				<img src="/images/3.png" border="0" />
			</a>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>

