<div id="dataset_feature_type_static_fragment" class="fragment">
  <div class="float-left width-5">&nbsp;</div>
  <div class="float-left">
    <%= label_tag :dataset_feature_period_static, 'Date / time' %>
  </div>
  <div class="float-left width-5">&nbsp;</div>
  <div class="float-left">
	  <div class="text-plain-left"></div>
	  <div class="text-plain-repeat-280">
		  <%= text_field_tag "dataset[feature_period]", '', :id => 'dataset_feature_period_static'  %>
	  </div>
	  <div class="text-plain-right"></div>
  </div>
</div>
