<div class="share-search-box">
	<div class="float-left">
		<a href="#">
			<img src="/images/sahre-dataset.jpg" border="0" alt="Share a Dataset" title="Share a Dataset" />
		</a>
	</div>
	<div class="float-right">
		<div class="share-find-text">
			Find Datasets:
		</div>
		
		<div class="share-search-text">
			<input type="text" />
		</div>
		
		<div class="float-left">
			<a href="#">
				<img src="/images/community-search.jpg" border="0" alt="Search" title="Search" />
			</a>
		</div>
	</div>
	<div class="clear"></div>
</div>
