<div style="text-align: center; color: #7A7A7A;">
<%= "The WEHUB stores or accesses #{number_with_delimiter(@datasets_counter.observation, :seperator => ',')} Observation Datasets and over #{number_with_delimiter(@datasets_counter.base, :seperator => ',')} Base Feature Datasets." %>
</div>
