<div style="text-align: center; color: #7A7A7A; width: 795px;">
<%= "The WEHUB stores or accesses #{number_with_delimiter(@datasets_counter.observation, :seperator => ',')} Observation Datasets, over #{number_with_delimiter(@datasets_counter.base, :seperator => ',')} Base Feature Datasets, and 13 web service feeds." %>
</div>
