<p>
This two year, $1.8 million project is funded by Western Economic Diversification Canada, University of Lethbridge, and Cybera Inc. The project is driven by University of Lethbridge, Cybera Inc., the Alberta WaterPortal, and supported by various water organizations.
</p>

<h2>Project Partners</h2>
<ul>
    <li>Western Economic Diversification Canada (WD)</li>
    <li>University of Lethbridge</li>
    <li>Cybera Inc.</li>
    <li>Alberta WaterPortal</li>
</ul>
<h2>Development Partners</h2>
<ul>
    <li>Tesera Systems Inc.</li>
    <li>University of Calgary Biogeosciences Institute - Dr. Steve Liang (GeoSensorweb Lab)</li>
</ul>
<h2>Potential Data Partners</h2>
<ul>
    <li>UNGEMS </li>
    <li>Groundwater Information Network (GIN)</li>
    <li>GeoCENS</li>
    <li>IP3</li>
    <li>WC2N</li>
    <li>Drought Research Initiative (DRI)</li>
    <li>Lake Winnipeg Research Consortium</li>
    <li>BC Ministry of Environment through the Land Resources Data Warehouse</li>
    <li>Global Runoff Data Centre (GRDC)</li>
    <li>eBird</li>
</ul>

<p>This website was produced with financial assistance provided by Western Economic Diversification Canada.</p>
