<p>
The Water and Environmental Hub project is creating an open source web platform that will aggregate, federate, and connect water data and information enabling users to access, mashup, analyze, model and interpret water data, information, issues and opportunities. By combining water expertise, an open web development approach¸ along with an entrepreneurial foundation, the project will spur economic diversification and benefit both public users and the private sector by improving access to water data, information, and tools for academia, government, industry, NGOs, and the general public.
</p>

<p>
In partnership with other open data repositories around water, the WEHUB is developing a web-based platform that will not only provide a water-related data catalogue, but deliver an innovative aggregator service that is linked with a unified output service (API). This will allow organizations and users to develop customized applications on top of the WEHUB web platform and gain access to all of the WEHUB's aggregated data.
</p>

<p>
In terms of geographical scope, the project will begin with southern Alberta water data and information, a region to which the partners have relevant expertise and networks. As development successes are achieved, the project is expected to extend across Alberta and Western Canada, with scalability a key design thrust.
</p>

<p>
The WEHUB will be structured as a three-tiered system with a Client, Server and Database.  Each tier in the system will be divided into components that address the catalogue, spatial and non-spatial data, and the social network requirements.  The catalogue will act as the index for the data and will allow for easy search, download and upload of the data. The spatial data will be shown on the client - as a map - making it easy for the user to visualize the data.  The social network will allow for commenting, flagging and sharing of data. The WEHUB will employ a Representational State Transfer (REST) software architecture. Open standards (e.g. OGC standards such as WMS, WFS, SOS, waterML, groundwaterML, etc.) will be used whenever practical, efficient and economical to meet the needs of users.
</p>

<p>
This two year (2010-12), $1.8 million project is funded by Western Economic Diversification, the University of Lethbridge, and Cybera Inc. The project is driven by  the University of Lethbridge, Cybera Inc., and the Alberta WaterPortal. Tesera Systems and Dr. Steve Liang (GeoSensor Web Lab) are the lead developers for the project.
</p>

<h2>Vision</h2>
<p>
To become the open source, web platform that connects water and environmental data with the tools and people needed to advance water research, integrated management, innovation, and economic diversification.
</p>

<h2>Mission</h2>
<p>
To make all water and environmental data and information freely open and accessible via the web, freeing resources previously consumed by searching for and acquiring data, thereby enabling new water perspectives and accelerating water research, integrated management, innovation, and economic diversification.
</p>

<h2>Key Words</h2>
<p>
water, open, data, web 2.0,  gov 2.0, big data, geospatial, GIS, hub, infostructure, API, apps, interoperability, mass geomedia, open source, agile, semantic web, web 3.0, xML, SLATES, cloud, distributed/grid computing, social media/networks, mashup, real time, ubiquitous web, location-aware, snow, ice, river, lake, precipitation, groundwater, water quantity, water quality, watersheds, eresearch, 4th paradigm, meta-analysis, data mining.
</p>

<h2>Core Principles</h2>
<ul>
    <li><strong>Open and Accessible</strong> - web-based platform as a service (PaaS), open source architecture, very low barrier to entry, inclusive</li>
    <li><strong>Integrated, Flexible, and Scalable</strong> - awareness of similar initiatives, agile, located in the cloud</li>
    <li><strong>Enabling and Collaborative yet Respectful</strong> - empowers all to be able to engage in the "doing" in real time, leverages social networks, acknowledges the unique nature and contributions of each participating organization in the collaborative partnership</li>
    <li><strong>Efficient, Entrepreneurial, and Innovative</strong> -increased utility for users, opens up opportunity, spurs economic activity, leverages existing resources, extends existing solutions</li>
    <li><strong>Sustainable</strong> - backed by a sustainable operations and financial plan, self-supporting In addition, the development approach will be governed by the following principles in order:</li>
    <li><strong>Adopt</strong> - Utilize existing proven and available technologies that meet user needs .</li>
    <li><strong>Adapt</strong> - Identify existing technologies that have the needed elements, recognizing that they will require some custom refinements to meet our requirements.</li>
    <li><strong>Develop</strong> - Build new tools and technologies that do not currently exist or are not available, but are needed to meet the needs of our users.</li>
</ul>

<h2>Project Goals</h2>
<ol>
    <li><strong>Financial Sustainability</strong>: Develop and implement a governance and financial plan that ensures the project’s operational costs are fully supported and the WEHUB is sustainable beyond the initial WD funding ending in Q1 2012.</li>
    <li><strong>Effective Partnerships and Collaboration</strong>: Leverage existing partnerships through University of Lethbridge, Cybera Inc., and Alberta WaterPortal, as well as new academic, government, and industry partnerships that will assist in the development, delivery, and maintenance of an open, web platform. In addition, the WEHUB will support the United Nations GEMS/Water Programme and offer services to support existing and enable future initiatives.</li>
    <li><strong>Develop an Open Source Web Platform</strong>: Develop an open, web platform that is successful because of its critical mass of water data and information combined with the overall accessibility, ease of use and capable tools ensuring a significant water community of users.</li>
    <li><strong>Make Available Water Data and Information</strong>: Identify, locate, aggregate and federate water data and information directly and by enabling academia, government, industry, NGOs, and the general public to contribute.</li>
    <li><strong>Develop and/or Employ Tools and Applications</strong>: Contribute to the emerging e-research and integrated resource management sectors, by creating tools that make finding, visualizing, interpreting, and analyzing water data and information easier, and developing and/or employing user-driven tools and applications via the web platform with emphasis on generic, global water tools and applications that can be applied across Western Canada.</li>
    <li><strong>Economic Diversification</strong>: Enable economic diversification by reducing costs to access water data and information, while accelerating innovation in academia, government, industry, NGOs, and the general public.</li>
</ol>
