<p>
The Water and Environmental Hub (WEHUB) project is an open source web platform that aggregates, federates, and connects water data and information with users looking to download, analyze, model and interpret water and environmental-based information. By combining water expertise with an open web development approach and an entrepreneurial foundation, the project will spur economic diversification and benefit both public users and the private sector by improving the access to water data and tools for academia, government, industry, NGOs and the general public.
</p>

<p>
The WEHUB also enables organizations and users to develop customized applications on top of the WEHUB web platform, so that the data can be easily shared, leveraged, or customized.
</p>

<h2>Vision</h2>
<p>
To become a web platform that connects water and environmental data with the tools and people needed to advance water research, integrated management, innovation, and economic diversification. The project will begin with southern Alberta water data and information. As development successes are achieved, the project is expected to extend across Western Canada and beyond.
</p>

<h2>Mission</h2>
<p>
To make all water and environmental data open and accessible via the web, freeing resources previously consumed by searching for, and acquiring, those data. This collaborative approach will will enable new water perspectives while accelerating water research, integrated management, innovation and economic diversification.  
</p>
 
<h2>Core Principles</h2>
<ul>
    <li><strong>Open and Accessible</strong> – Offering a web-based platform as a service, with open source architecture, very low barrier to entry, and inclusive to everyone.</li>
    <li><strong>Enabling and Collaborative yet Respectful</strong> – Empowering everyone to engage in the "doing" in real time, leveraging social networks, and acknowledging the unique nature and contributions of each organization taking part in the collaborative partnership.</li>
    <li><strong>Efficient, Entrepreneurial, and Innovative</strong> - Increasing the utility for users, opening up opportunities, spurring economic activity, leveraging existing resources, and extending existing solutions.</li>
</ul>

<h2>Key Words</h2>
<p>
Water, open, data, web 2.0, gov 2.0, big data, geospatial, GIS, hub, infostructure, API, apps, interoperability, mass geomedia, open source, agile, semantic web, web 3.0, xML, SLATES, cloud, distributed/grid computing, social media/networks, mashup, real time, ubiquitous web, location-aware, snow, ice, river, lake, precipitation, groundwater, water quantity, water quality, watersheds, eresearch, 4th paradigm, meta-analysis, data mining
</p>

<h2>Core Principles</h2>
<ul>
    <li><strong>Open and Accessible</strong> - web-based platform as a service (PaaS), open source architecture, very low barrier to entry, inclusive</li>
    <li><strong>Integrated, Flexible, and Scalable</strong> - awareness of similar initiatives, agile, located in the cloud</li>
    <li><strong>Enabling and Collaborative yet Respectful</strong> - empowers all to be able to engage in the "doing" in real time, leverages social networks, acknowledges the unique nature and contributions of each participating organization in the collaborative partnership</li>
    <li><strong>Efficient, Entrepreneurial, and Innovative</strong> -increased utility for users, opens up opportunity, spurs economic activity, leverages existing resources, extends existing solutions</li>
    <li><strong>Sustainable</strong> - backed by a sustainable operations and financial plan, self-supporting In addition, the development approach will be governed by the following principles in order:</li>
    <li><strong>Adopt</strong> - Utilize existing proven and available technologies that meet user needs .</li>
    <li><strong>Adapt</strong> - Identify existing technologies that have the needed elements, recognizing that they will require some custom refinements to meet our requirements.</li>
    <li><strong>Develop</strong> - Build new tools and technologies that do not currently exist or are not available, but are needed to meet the needs of our users.</li>
</ul>

<h2>Project Goals</h2>
<ul>
    <li><strong>Financial Sustainability</strong>: Develop and implement a governance and financial plan that ensures the project’s operational costs are fully supported and the WEHUB is sustainable beyond the initial WD funding ending in Q1 2012.</li>
    <li><strong>Effective Partnerships and Collaboration</strong>: Leverage existing partnerships through University of Lethbridge, Cybera Inc., and Alberta WaterPortal, as well as new academic, government, and industry partnerships that will assist in the development, delivery, and maintenance of an open, web platform. In addition, the WEHUB will support the United Nations GEMS/Water Programme and offer services to support existing and enable future initiatives.</li>
    <li><strong>Develop an Open Source Web Platform</strong>: Develop an open, web platform that is successful because of its critical mass of water data and information combined with the overall accessibility, ease of use and capable tools ensuring a significant water community of users.</li>
    <li><strong>Make Available Water Data and Information</strong>: Identify, locate, aggregate and federate water data and information directly and by enabling academia, government, industry, NGOs, and the general public to contribute.</li>
    <li><strong>Develop and/or Employ Tools and Applications</strong>: Contribute to the emerging e-research and integrated resource management sectors, by creating tools that make finding, visualizing, interpreting, and analyzing water data and information easier, and developing and/or employing user-driven tools and applications via the web platform with emphasis on generic, global water tools and applications that can be applied across Western Canada.</li>
    <li><strong>Economic Diversification</strong>: Enable economic diversification by reducing costs to access water data and information, while accelerating innovation in academia, government, industry, NGOs, and the general public.</li>
</ul>
