
<script>
  $(document).ready(function() {
    function getPage() {
      var result = window.location.search.match(/page=([^&]*)/);
      return result ? parseInt(result[1], 10) : 1;
    }
    
    function getPagePathname(page) {
      var pathname = window.location.pathname;
      if (window.location.search) {
        var result = window.location.search.match(/page=[\d]*/);
        if (result) {
          return pathname + window.location.search.replace(result, 'page=' + page);
        }
        return pathname + window.location.search + '&page=' + page;
      } else {
        return pathname + '?page=' + page;
      }
    }

    var pages = <%= @pages %>;
    var pathname = window.location.pathname
    var page = getPage();
    var pageTabs = 7;
    
    var pagePrevRef = $('.page-previous');    
    if (page === 1) {
      pagePrevRef.addClass('disabled');
      pagePrevRef.click(function(event) { event.preventDefault(); });
    } else {
      pagePrevRef.removeClass('disabled');
      pagePrevRef.attr('href', getPagePathname(page - 1));
    }
    
    var pageNextRef = $('.page-next');
    if (page === pages) {
      pageNextRef.addClass('disabled');
      pageNextRef.click(function(event) { event.preventDefault(); });      
    } else {
      pageNextRef.removeClass('disabled');
      pageNextRef.attr('href', getPagePathname(page + 1));
    }
    
    var pageTabFragment = $('<a class="page-tab" href=""></a>');

    if (pages < pageTabs) {
      for(var i = pageTabs ; i > 0 ; i--) {
        var tabPage = page - 2 + i;
        var fragment = pageTabFragment.clone().attr('href', getPagePathname(i)).text(i);
        if (i == page) {
          fragment.addClass('current');
        }
        if (i <= pages) {
          pagePrevRef.after(fragment);
        }
      }    
    } else {
      if (page > pageTabs/2) {
        for(var i = pageTabs ; i > 0 ; i--) {
          var tabPage = page - 4 + i;
          if (i === 4) {
            pagePrevRef.after(pageTabFragment.clone().attr('href', getPagePathname(tabPage)).addClass('current').text(tabPage));
          } else if (tabPage > 0 && tabPage < pages) {
            pagePrevRef.after(pageTabFragment.clone().attr('href', getPagePathname(tabPage)).text(tabPage));
          }
        }
      } else {
        for(var i = pageTabs ; i > 0 ; i--) {
          var tabPage = page - 1 + i;
          if (i === 1) {
            pagePrevRef.after(pageTabFragment.clone().attr('href', getPagePathname(tabPage)).addClass('current').text(tabPage));
          } else if (tabPage > 0 && tabPage < pages) {
            pagePrevRef.after(pageTabFragment.clone().attr('href', getPagePathname(tabPage)).text(tabPage));
          }
        }
      }
    }
  });
</script>

<div class="clear"></div>
<div class="pagination">
  <a rel="previous" class="page-previous" href="#">Previous</a>
  <a rel="next" class="page-next" href="#">Next</a>
</div>
