<script>
$('document').ready(function() {
  if (WEHub.logged_in()) {
    $('#saved-datasets .main-head').click(function() {
      window.location = '<%= url_for :controller => "user", :action => "collection" %>';
    });
    $.ajax({
      url: '<%= url_for :controller => "user", :action => "saved_collection" %>',
      type: 'GET',
      global: false,
      cache: false,      
      success: function(data) {
        var template = $('#saved-datasets .contents:first');
        $(data).each(function() {
          var fragment = template.clone();
          fragment.find('.name').text(this.name);
          fragment.find('.date').text(this.date);
          var url = '<%= url_for :controller => "catalogue", :action => "details", :id => nil, :trailing_slash => true %>' + this.id + '/' + encodeURI(this.name.replace(/-|\.|- /g,'').replace(/ /g,'-'));
          fragment.click(function() { window.location = url; });
          template.before(fragment);
        });
        
        $('#saved-datasets').fadeIn('slow');
      }
    });
  }
});
</script>
<div class="right-content" id="saved-datasets" style="display: none;">
  <div class="main-head hand">
    <div class="float-left"><img src="/images/my-collection.jpg" alt="my collection" title="my collection" width="20" height="20"></div>
    <div class="float-left"><h1>My Collection</h1></div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>

  <div class="contents">
    <div>
      <h2 class="name"></h2>
    </div>
    <div class="date"></div>
  </div>
  <div class="clear"></div>
</div>
<div class="clear">&nbsp;</div>
