<fieldset>
  <legend>Licensing</legend>
  <table>
  <tr>
    <td></td>
    <td>       
      You can associate a Creative Commons license with your content if you wish, to grant people the right to use your work under certain circumstances. For more information on what your options are, please visit the <a href="http://www.creativecommons.org/">Creative Commons</a> website.

      <p><strong>Note:</strong> Don't forget to make sure that you have all the necessary rights and you won't be infringing on any third parties with any content that you license on the WEHUB. As per our Community Guidelines, accounts are intended for members to share content that they themselves have created.</p>

      <p><strong>Select a license</strong></p>

      <p>
        <% [ ['none', 'None (All rights reserved)'], 
             ['by', 'Attribution Creative Commons'], 
             ['by-sa', 'Attribution-ShareAlike Creative Commons'], 
             ['by-nc', 'Attribution-NonCommercial Creative Commons'], 
             ['by-nd', 'Attribution-NoDerivs Creative Commons'], 
             ['by-nc-sa', 'Attribution-NonCommercial-ShareAlike Creative Commons'],
             ['by-nc-nd', 'Attribution-NonCommercial-NoDerivs Creative Commons'] ].each do |license| %>
          <%= radio_button_tag :creative_commons_license, license[0], (license[0] == (params[:creative_commons_license] ? params[:creative_commons_license] : 'none')) -%><%= label_tag "creative_commons_license[#{license[0]}]", license[1] -%><br />
        <% end %>
      </p>
    </td>
  </tr>
  </table>
</fieldset>
