<div id="dataset_feature_type_static_fragment" class="fragment observation-data">
  <div class="float-left width-5">&nbsp;</div>
  <div class="float-left">
    <%= label_tag :dataset_feature_period_static, 'Date / time' %>
  </div>
  <div class="float-left width-5">&nbsp;</div>
  <div class="float-left">
		  <%= text_field_tag "dataset[feature_period]", '', :id => 'dataset_feature_period_static'  %>
  </div>
</div>
