<div id="filter-<%= @id %>">
	<div class="filter-part">
		<div class="filter-left">
			<input type="checkbox" id="filter-check-<%= @id %>" name="filter-check" value="<%= @id %>">
		</div>
		<div class="filter-right">
			<div>
				<select class="select-box-1">
					<option>Dataset</option>
				</select>
			</div>
			<div>
				<select class="select-box-2">
					<option>X-axis</option>
				</select>
			</div>
			<div>
				<select class="select-box-2">
					<option>Y-axis</option>
				</select>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>