<div id="filter-<%= @id %>">
	<div class="float-left">
		<input type="checkbox" id="filter-check-<%= @id %>" name="filter-check" value="<%= @id %>">
	</div>
	<div class="float-left width-5">&nbsp;</div>
	<div class="float-left">
		<img src="/images/bullet-blue.jpg" border="0" />
	</div>
	<div class="float-left width-5">&nbsp;</div>
	<div class="float-left width-210">
		<div class="tool-left-link">
			IP3 Alpine Tundra
		</div>
		<div class="tool-left-text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem ligula.
		</div>
	</div>
	<div class="clear height-5">&nbsp;</div>
</div>