<div class="float-left">
	<div class="tools-landing-box-top">
		<img src="/images/Map.jpg" alt="Map" title="Map" border="0" />
		<h2>Map</h2>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem ligula. Fusce vestibulum, ipsum eget imperdiet rhoncus, augue leo semper massa,
	</div>
	<div class="clear"></div>
	<div class="tools-landing-box-bottom">
		<a href="#">Click here >></a>
	</div>
	<div class="clear"></div>
</div>
<div class="tools-landing-top-seperator">&nbsp;</div>




<div class="float-left">
	<div class="tools-landing-box-top">
		<img src="/images/BarGraph.jpg" alt="BarGraph" title="BarGraph" border="0" />
		<h2>Bar Graph</h2>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem ligula. Fusce vestibulum, ipsum eget imperdiet rhoncus, augue leo semper massa,
	</div>
	<div class="clear"></div>
	<div class="tools-landing-box-bottom">
		<a href="#">Click here >></a>
	</div>
	<div class="clear"></div>
</div>
<div class="tools-landing-top-seperator">&nbsp;</div>



<div class="float-left">
	<div class="tools-landing-box-top">
		<img src="/images/LineGraph.jpg" alt="LineGraph" title="LineGraph" border="0" />
		<h2>Line Graph</h2>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem ligula. Fusce vestibulum, ipsum eget imperdiet rhoncus, augue leo semper massa,
	</div>
	<div class="clear"></div>
	<div class="tools-landing-box-bottom">
		<a href="#">Click here >></a>
	</div>
	<div class="clear"></div>
</div>
<div class="tools-landing-top-seperator">&nbsp;</div>



<div class="float-left">
	<div class="tools-landing-box-top">
		<img src="/images/PieGraph.jpg" alt="PieGraph" title="PieGraph" border="0" />
		<h2>Pie Graph</h2>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem ligula. Fusce vestibulum, ipsum eget imperdiet rhoncus, augue leo semper massa,
	</div>
	<div class="clear"></div>
	<div class="tools-landing-box-bottom">
		<a href="#">Click here >></a>
	</div>
	<div class="clear"></div>
</div>
<div class="tools-landing-top-seperator">&nbsp;</div>


<div class="float-left">
	<div class="tools-landing-box-top">
		<img src="/images/Table.jpg" alt="Table" title="Table" border="0" />
		<h2>Table</h2>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem ligula. Fusce vestibulum, ipsum eget imperdiet rhoncus, augue leo semper massa,
	</div>
	<div class="clear"></div>
	<div class="tools-landing-box-bottom">
		<a href="#">Click here >></a>
	</div>
	<div class="clear"></div>
</div>
<div class="tools-landing-top-seperator">&nbsp;</div>

<div class="clear height-50"></div>

<table width="100%" border="0" align="center" cellpadding="10">
	<tr>
		<td align="right" valign="middle" width="35%">
			<label class="tools-grey-head">How It Works:</label>
		</td>
		<td align="left" valign="middle" width="65%">
			<img src="/images/home-video-temp.jpg" border="0" alt="Temp Video" title="Temp Video">
		</td>
	</tr>
</table>