<script type="text/javascript">
    var lon = -113.98650539999994;
	var lat = 49.07069879900007;
	var zoom = 8;
	var map, layer;
	
	var data 		=	'<%= @json%>';
	var unescaped 	=	$('<textarea />').html(data).val();
	var json_map	=	jQuery.parseJSON(unescaped);

  $(document).ready(function() {
      map = new OpenLayers.Map( 'map' );
            layer = new OpenLayers.Layer.WMS( "OpenLayers WMS", 
                    "http://vmap0.tiles.osgeo.org/wms/vmap0",
                    {layers: 'basic'} );
            map.addLayer(layer);
            map.setCenter(new OpenLayers.LonLat(lon, lat), zoom);
            var featurecollection = json_map;
           var geojson_format = new OpenLayers.Format.GeoJSON();
           var vector_layer = new OpenLayers.Layer.Vector(); 
           map.addLayer(vector_layer);
           vector_layer.addFeatures(geojson_format.read(featurecollection));

  });
    
</script>
	
<div class="tab-menu-body">
	<div class="tab-menu tab-menu-select">
		<a href="#">WE Data Map</a>
	</div>
	<div class="tab-menu">
		<a href="#">WE Data Graphs</a>
	</div>
	<div class="tab-menu">
		<a href="#">Developers</a>
	</div>
	<div class="tab-menu-right">
		<div class="top-container-tab">
			<div class="float-left tab-download">Download</div><div class="float-left tab-download-arrow"></div>
		</div>
	</div>
</div>
<div class="clear"></div>

<div class="sub-content-body">
	<div class="sub-content-left">
		<div class="left-tab-body">
			<div id="bar-chart-div" class="left-tab tab-select">
				<a href="#">Layers</a>
			</div>
			<div id="line-chart-div" class="left-tab">
				<a href="#">Info</a>
			</div>
		</div>
		<div class="clear"></div>
		<div id="filter-container">
			<div class="float-left">
				<input type="checkbox" />
			</div>
			<div class="float-left width-5">&nbsp;</div>
			<div class="float-left">
				<img src="/images/bullet-blue.jpg" border="0" />
			</div>
			<div class="float-left width-5">&nbsp;</div>
			<div class="float-left width-210">
				<div class="tool-left-link">
					IP3 Alpine Tundra
				</div>
				<div class="tool-left-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem ligula.
				</div>
			</div>
			<div class="clear height-5">&nbsp;</div>
			
			<div class="float-left">
				<input type="checkbox" />
			</div>
			<div class="float-left width-5">&nbsp;</div>
			<div class="float-left">
				<img src="/images/bullet-green.jpg" border="0" />
			</div>
			<div class="float-left width-5">&nbsp;</div>
			<div class="float-left width-210">
				<div class="tool-left-link">
					IP3 Grange Basin
				</div>
				<div class="tool-left-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem ligula.
				</div>
			</div>
			<div class="clear height-5">&nbsp;</div>
			
			
			<div class="float-left">
				<input type="checkbox" />
			</div>
			<div class="float-left width-5">&nbsp;</div>
			<div class="float-left">
				<img src="/images/bullet-yellow.jpg" border="0" />
			</div>
			<div class="float-left width-5">&nbsp;</div>
			<div class="float-left width-210">
				<div class="tool-left-link">
					IP3 Buckbrush
				</div>
				<div class="tool-left-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem ligula.
				</div>
			</div>
			<div class="clear height-5">&nbsp;</div>
			
			
			<div class="float-left">
				<input type="checkbox" />
			</div>
			<div class="float-left width-5">&nbsp;</div>
			<div class="float-left">
				<img src="/images/bullet-grey.jpg" border="0" />
			</div>
			<div class="float-left width-5">&nbsp;</div>
			<div class="float-left width-210">
				<div class="tool-left-link">
					PAM 2nd Wheat Output
				</div>
				<div class="tool-left-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem ligula.
				</div>
			</div>
			<div class="clear height-50">&nbsp;</div>
			
			<div>
				<span class="button">
					<button>+ Dataset</button>
				</span>
				<span class="button">
					<button>Remove</button>
				</span>
			</div>
				
					
		</div>
	</div>
	<div class="sub-content-center">
		<div id="map" style="width:564px;"></div>
		<!--img src="/images/temp-data-map.jpg" border="0" alt="Temp Map" title="Map"-->		
	</div>
	<div class="sub-content-right">
    <%= render 'shared/right_panel' %>		
	</div>
	<div class="clear"></div>
</div>