<div id="success-dialog" style="display: none;">
  <p>Your updates were successful, but it may take a few hours before these changes are reflected in our search results or on the catalogue detail page.</p>
</div>
