<script>
 $(document).ready(function() {

    var datasets = $.url(window.location).param('datasets');
    if (datasets) {
      $(datasets.split(',')).each(function(i,e) {
        $('form').find('[value="' + e + '"]').attr('checked', true);
      });
    } else {
      $('form').find('[value=public]').attr('checked', true);
    }

    var keywords = $.url(window.location).param('keywords');
    if (keywords) {
      $('[name=query]').val(keywords);
    }

    function setFormAction() {
      var datasets = []
      $('[name=datasets]').each(function(i,e) { 
        if ($(e).is(':checked')) {
          datasets.push($(e).val());
        }
      });
      if (datasets.length == 0) {
        datasets.push('public');
      }

      var action = $.url($('form').attr('action')).attr('path');      
      $('form').attr('action', action + '?keywords=' + $('[name=query]').val() + '&datasets=' + datasets.join(','));
    }

    $('.search-button').click(function() {
      setFormAction()
      $('form').submit();
    });

    setFormAction();
  });
</script>

<%= form_for :search, :url => { :datasets => 'public' } do |f| %>
<div class="search-box">
	<div class="clear height-10"></div>
	<div class="text-shade-left"></div>
	<div class="text-shade-repeat-205">
		  <%= f.text_field :query, :name => 'query' %>
	</div>
	<div class="text-shade-right"></div>
	<div class="clear height-10"></div>

  <div id="advanced-search-panel" style="display: none;">
	  <div class="text-shade-left"></div>
	  <div class="text-shade-repeat-205">
		  <select>
			  <option>Geographic Area</option>
		  </select>
	  </div>
	  <div class="text-shade-right"></div>
	  <div class="clear height-10"></div>
	
	  <div class="text-shade-left"></div>
	  <div class="text-shade-repeat-205">
		  <select>
			  <option>Start Date</option>
		  </select>
	  </div>
	  <div class="text-shade-right"></div>
	  <div class="clear height-10"></div>
	
	  <div class="text-shade-left"></div>
	  <div class="text-shade-repeat-205">
		  <select>
			  <option>End Date</option>
		  </select>
	  </div>
	  <div class="text-shade-right"></div>
	  <div class="clear height-15"></div>
	  <div class="bounding-box-text">
		  bounding box
	  </div>
  </div>

	<div class="search-shared-check">
		<input type="checkbox" name="datasets" value="public" id="data_public" />
		<label for="data_public">Public Data</label>
	</div>

  <% if !current_user.nil? %>
	<div class="search-shared-check">
		<input type="checkbox" name="datasets" value="mine" id="data_mine" />
		<label for="data_mine">My Data</label>
	</div>
	<div class="search-shared-check">
		<input type="checkbox" name="datasets" value="shared" id="data_shared" />
		<label for="data_shared">Data Shared with Me</label>
	</div>
  <% end %>

	<div class="clear height-15"></div>
	<div class="search-button">
      <%= f.submit :search, :name => 'search' %>
	</div>
<%
=begin %>
	<div class="float-right slight-margin">
		<a href="#" id="search-mode">Advanced Search</a>
	</div>
<%
=end %>
	<div class="clear height-25"></div>
</div>
<% end %>
