<%= stylesheet_link_tag "jqplot/jquery.jqplot"%>
<%= javascript_include_tag "jqplot/jquery.jqplot","jqplot/jqplot.categoryAxisRenderer","jqplot/jqplot.barRenderer","jqplot/jqplot.pieRenderer","jqplot/jqplot.cursor"%>

<script type="text/javascript">
	var data 		=	'<%=@json%>';
	var unescaped 	=	$('<textarea />').html(data).val();
	var json		=	jQuery.parseJSON(unescaped);
	var length		=	json.length;
	var min_day		=	0;
	var max_day		=	0;
	
	for (i = 0; i < length; i++){
		if (min_day == 0 || min_day > json[i]['Calendar Day']){
			min_day		=	json[i]['Calendar Day']
		}
		if (max_day < json[i]['Calendar Day']){
			max_day		=	json[i]['Calendar Day']
		}
	}
		
	json.sort(sortBy("Calendar Day"));
	
	for (i = 0; i < 10; i++){
		eval("list" + i + " = new Array();");
	}
	
	day_key		=	new Array();
	day_val		=	new Array();
	key 		=	0;
	min_day		=	140;
	max_day		=	150;
	for(i = min_day; i <= max_day; i++){
		day_key[i]		=	key;
		day_val[key]	=	i;
		for (j = 0; j < 10; j++){
			eval("list" + j + "[" + key + "] = 0;");
		}
		key++;
	}
	
	var cal_day		=	0;
	for (i = 0; i < length; i++){
		if (json[i]['Calendar Day'] >= min_day && json[i]['Calendar Day'] <= max_day){
			for (j = 0; j < 10; j++){
				if (eval("list" + j + "[" + day_key[json[i]['Calendar Day']] + "]") == 0){
					eval("list" + j + "[" + day_key[json[i]['Calendar Day']] + "] = " + json[i]['Biometeorological Time'] + ";");
					break;
				}
			}	
		}
	}
	
function sortBy(prop){ return function(a,b){return a[prop]-b[prop];}}
	
$.jqplot.config.enablePlugins = true;
$(document).ready(function(){

	bars		=	new Array();
	pie		=	new Array();
	pies		=	new Array();
	lseries		=	new Array();
	for (j = 0; j < 10; j++){
		lseries[j]	=	new Array();
		pie[j]	=	new Array();
		bars[j]	=	eval("list" + j);
		
		
		var label				=	'Datset' + (j*1 + 1);
		
		lseries[j]['label']		=	label
		lseries[j]['renderer']	=	$.jqplot.BarRenderer; 
		
		var pie_val				=	eval(bars[j].join('+'));
		
		pie[j][0]	=	label;
		pie[j][1]	=	pie_val;
	}
	
	
	plot1 = $.jqplot('chart1', bars, {
	    legend:{show:true, location:'ne'},title: {text: 'Rainfall', show: true},

	    series:lseries,
	    axes:{
	        xaxis:{renderer:$.jqplot.CategoryAxisRenderer,ticks: day_val}, 
	        yaxis:{min:0}
	    },
		cursor:{
			zoom:true,
	    	showTooltip: false
		}
	});
	controlplot1 = $.jqplot('chart2', bars, {
	    legend:{show:false, location:'ne'},title:'',
	    series:'',
	    axesDefaults:{
		    tickOptions:{
		      showLabel:false, 
		      showMark:false
		    }
		},
		cursor:{
			zoom:true,
	    	showTooltip: false
		}
	});
	$.jqplot.Cursor.zoomProxy(plot1,controlplot1); 
	
	
	lineplot1 = $.jqplot('line-chart1', bars, {
	    legend:{show:true, location:'ne'},title: {text: 'Rainfall', show: true},

	    series:'',
	    axes:{
	        xaxis:{renderer:$.jqplot.CategoryAxisRenderer,ticks: day_val}, 
	        yaxis:{min:0}
	    },
		cursor:{
			zoom:true,
	    	showTooltip: false
		}
	});
	linecontrolplot1 = $.jqplot('line-chart2', bars, {
	    legend:{show:false, location:'ne'},title:'',
	    series:'',
	    axesDefaults:{
		    tickOptions:{
		      showLabel:false, 
		      showMark:false
		    }
		},
		cursor:{
			zoom:true,
	    	showTooltip: false
		}
	});
	$.jqplot.Cursor.zoomProxy(lineplot1,linecontrolplot1);
	
	
	
    pieplot1 = $.jqplot('pie-chart1', [pie], {
        gridPadding: {top:0, bottom:38, left:0, right:0},
      seriesDefaults:{renderer:$.jqplot.PieRenderer, trendline:{show:false}, rendererOptions: { padding: 8, showDataLabels: true}},
                  legend:{
                      show:true, 
                      placement: 'outside', 
                      rendererOptions: {
                          numberRows: 2
                      }, 
                      location:'s',
                      marginTop: '10px'
                  },title: {text: 'Rainfall', show: true}       
    });

	
	
	
	
	$('#line-chart').hide();
	$('#pie-chart').hide();
	 
	$('#bar-chart-div').click(function(){
		$('#line-chart').hide();
		$('#pie-chart').hide();
		$('#bar-chart').show();
		$('#line-chart-div').removeClass('tab-select');
		$('#pie-chart-div').removeClass('tab-select');
		$('#bar-chart-div').addClass('tab-select');
	});
	$('#line-chart-div').click(function(){
		$('#bar-chart').hide();
		$('#pie-chart').hide();
		$('#line-chart').show();
		$('#bar-chart-div').removeClass('tab-select');
		$('#pie-chart-div').removeClass('tab-select');
		$('#line-chart-div').addClass('tab-select');
	});
	$('#pie-chart-div').click(function(){
		$('#bar-chart').hide();
		$('#line-chart').hide();
		$('#pie-chart').show();
		$('#bar-chart-div').removeClass('tab-select');
		$('#line-chart-div').removeClass('tab-select');
		$('#pie-chart-div').addClass('tab-select');
	});
});

$(function() {
	$( "button, input:submit, a", ".button" ).button();
	$( "a", ".button" ).click(function() { return false; });
});


</script>


<div class="tab-menu-body">
	<div class="tab-menu">
		<a href="#">WE Data Map</a>
	</div>
	<div class="tab-menu tab-menu-select">
		<a href="#">WE Data Graphs</a>
	</div>
	<div class="tab-menu">
		<a href="#">Developers</a>
	</div>
</div>
<div class="clear"></div>

<div class="sub-content-body">
	<div class="sub-content-left">
		<div class="left-tab-body">
			<div id="bar-chart-div" class="left-tab tab-select">
				Bar
			</div>
			<div id="line-chart-div" class="left-tab">
				Line
			</div>
			<div id="pie-chart-div" class="left-tab">
				Pie
			</div>
			<div class="left-tab">
				Table
			</div>
		</div>
		<div class="clear"></div>
		<div id="filter-container">
			<div class="filter-part">
				<div class="filter-left">
					<input type="checkbox">
				</div>
				<div class="filter-right">
					<div>
						<select class="select-box-1">
							<option>Dataset</option>
						</select>
					</div>
					<div>
						<select class="select-box-2">
							<option>X-axis</option>
						</select>
					</div>
					<div>
						<select class="select-box-2">
							<option>Y-axis</option>
						</select>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			
			<div class="filter-part">
				<div class="filter-left">
					<input type="checkbox">
				</div>
				<div class="filter-right">
					<div>
						<select class="select-box-1">
							<option>Dataset</option>
						</select>
					</div>
					<div>
						<select class="select-box-2">
							<option>X-axis</option>
						</select>
					</div>
					<div>
						<select class="select-box-2">
							<option>Y-axis</option>
						</select>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			
			<div class="filter-part">
				<div class="filter-left">
					&nbsp;
				</div>
				<div class="filter-right">
					<div>
						<span class="button">
							<button>Graph</button>
						</span>
						<span class="button">
							<button>Remove</button>
						</span>
					</div>
					<div>
						<span class="button">
							<button>+ Dataset</button>
						</span>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			
			
			
			
		</div>
	</div>
	<div class="sub-content-center">
		<div class="chart-body">
			<div id="bar-chart" class="chart">
				<div id="chart1" class="plot" style="width:530px;height:360px;"></div>
				<div id="chart2" class="plot" style="width:530px;height:60px;"></div>
			</div>
			<div id="line-chart" class="chart">
				<div id="line-chart1" class="plot" style="width:530px;height:360px;"></div>
				<div id="line-chart2" class="plot" style="width:530px;height:60px;"></div>
			</div>
			
			<div id="pie-chart" class="chart">
				<div id="pie-chart1" class="plot" style="width:530px;height:360px;"></div>
			</div>
			
		</div>
		
	</div>
	<div class="sub-content-right">
		<div class="right-content">
			<div class="main-head">
				<div class="float-left"><img src="/images/my-collection.jpg" alt="my collection" title="my collection" width="20" height="20"></div>
				<div class="float-left"><h1>My Collection</h1></div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
			<div class="contents">
				<div>
					<h2>Shap Import Test 1</h2>
				</div>
				<div>
					<a href="#">Add</a>
				</div>
				<div class="date">
					2011-04-04 15:25:03 UTC
				</div>
			</div>
			<div class="clear"></div>
			<div class="contents">
				<div>
					<h2>Natural Polar Ecosystems</h2>
				</div>
				<div>
					<a href="#">Add</a>
				</div>
				<div class="date">
					2011-04-04 15:25:03 UTC
				</div>
			</div>
			<div class="clear"></div>
			<div class="contents">
				<div>
					<h2>Shap Import Test 2</h2>
				</div>
				<div>
					<a href="#">Add</a>
				</div>
				<div class="date">
					2011-04-04 15:25:03 UTC
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		
		<div class="right-content">
			<div class="main-head">
				<div class="float-left"><img src="/images/recently-viewed.jpg" alt="recently viewed" title="recently viewed" width="20" height="20"></div>
				<div class="float-left"><h1>Recently Viewed</h1></div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
			<div class="contents">
				<div>
					<h2>Shap Import Test 1</h2>
				</div>
				<div>
					<a href="#">Add</a>
				</div>
				<div class="date">
					2011-04-04 15:25:03 UTC
				</div>
			</div>
			<div class="clear"></div>
			<div class="contents">
				<div>
					<h2>Natural Polar Ecosystems</h2>
				</div>
				<div>
					<a href="#">Add</a>
				</div>
				<div class="date">
					2011-04-04 15:25:03 UTC
				</div>
			</div>
			<div class="clear"></div>
			<div class="contents">
				<div>
					<h2>Shap Import Test 2</h2>
				</div>
				<div>
					<a href="#">Add</a>
				</div>
				<div class="date">
					2011-04-04 15:25:03 UTC
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		
	</div>
	<div class="clear"></div>
</div>

