<div class="home-top">
	<div class="home-top-left">
		<div class="home-search-left"></div>
		<div class="home-search-center">
			<h2>Find the data you are looking for now!</h2>
			<table align="center" width="95%" class="home-search-box-table">
				<tr>
					<td align="center" colspan="2">
						<div class="home-search-text-container">
							<div class="home-search-text-left"></div>
							<div class="home-search-text-center">
								<input type="text" value="Keyword">
							</div>
							<div class="home-search-button"></div>
						</div>
					</td>
				</tr>
				<tr>
					<td align="left" width="35%" class="label">Connect:</td>
					<td align="left" width="65%">
						<span><a href="#"><img src="/images/face_book_icon.jpg" title="Facebook" alt="Facebook" border="0" /></a></span>
						<span><a href="#"><img src="/images/twitter_icon.jpg" title="Twitter" alt="Twitter" border="0" /></a></span>
						<span><a href="#"><img src="/images/linked_in_icon.jpg" title="Linked In" alt="Linked In" border="0" /></a></span>
					</td>
				</tr>
				<tr>
					<td align="left" width="35%" class="label">How Its Works:</td>
					<td align="left" width="65%">
						<span><img src="/images/home-video-temp.jpg" title="Home Video Temp" alt="Home Video Temp" /></span>
					</td>
				</tr>
			</table>
			
			
		</div>
		<div class="home-search-right"></div>
	</div>
	<div class="home-top-right">
		<div class="home-right-head">
			<div class="float-left"><img src="/images/latest-data-icon.jpg" title="Latest Data" alt="Latest Data" /></div>
			<div class="float-left">&nbsp;<span>Latest Data</span></div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div class="data-container">
			<div class="float-left">
				<img src="/images/data-icon1.jpg" title="icon" alt="icon" />
			</div>
			<div class="data-text-content">
				<span class="slight-head">IP3 Alphine Tundra - 3m tower micrometrological station</span><br />
				<span class="data-text">
					Area is a wind  swept, high alphine tundra plateau along the drainage divide at the nothern edge of the basin..
				</span>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div class="data-container">
			<div class="float-left">
				<img src="/images/data-icon2.jpg" title="icon" alt="icon" />
			</div>
			<div class="data-text-content">
				<span class="slight-head">Geobase National Hydro Network</span><br />
				<span class="data-text">
					The national hydro network (NHN) for which the standard wasa officially adopted by the Canadian Council on..
				</span>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div class="data-button">
			<span class="button">
				<button>View All</button>
			</span>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>

<div class="home-middle">
	<div class="home-middle-content">
		<div class="float-left"><img src="/images/about-icon.jpg" title="About" alt="About" /></div>
		<div class="home-middle-data">
			<div class="home-middle-head">About WEHub</div>
			<div class="home-middle-text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem ligula. Fusce vestibulum, ipsum eget imperdiet rhoncus, augue leo semper massa, non porta velit massa nec massa. Sed venenatis velit et odio iaculis vulputate fermentum mi volutpat. Suspendisse velit massa, pharetra ultricies lacinia sed, cursus quis erat. Nunc a dui at neque vestibulum egestas fringilla quis augue. Praesent id tortor vel urna semper tincidunt vitae eget nisl. Nam facilisis arcu sed neque consequat tincidunt. Maecenas vulputate, mauris vel scelerisque cursus, dolor tellus adipiscing mauris, quis lobortis purus nunc quis orci. 
			</div>
			<a href="#">Learn More</a>
		</div>
	</div>
	<div class="home-middle-content">
		<div class="float-left"><img src="/images/community-icon.jpg" title="Community" alt="Community" /></div>
		<div class="home-middle-data">
			<div class="home-middle-head">WEHub Community</div>
			<div class="home-middle-text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem ligula. Fusce vestibulum, ipsum eget imperdiet rhoncus, augue leo semper massa, non porta velit massa nec massa. Sed venenatis velit et odio iaculis vulputate fermentum mi volutpat. Suspendisse velit massa, pharetra ultricies lacinia sed, cursus quis erat. Nunc a dui at neque vestibulum egestas fringilla quis augue. Praesent id tortor vel urna semper tincidunt vitae eget nisl. Nam facilisis arcu sed neque consequat tincidunt. Maecenas vulputate, mauris vel scelerisque cursus, dolor tellus adipiscing mauris, quis lobortis purus nunc quis orci. 
			</div>
			<a href="#">Learn More</a>
		</div>
	</div>
	<div class="home-middle-content no-border">
		<div class="float-left"><img src="/images/application-icon.jpg" title="New Application" alt="New Application" /></div>
		<div class="home-middle-data">
			<div class="home-middle-head">New Applications</div>
			<div class="home-middle-text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem ligula. Fusce vestibulum, ipsum eget imperdiet rhoncus, augue leo semper massa, non porta velit massa nec massa. 
			</div>
			<div class="dotted-light-border">&nbsp;</div>
			<div class="clear">&nbsp;</div>
			<div class="float-left"><img src="/images/application-data-icon.jpg" title="icon" alt="icon" /></div>
			<div class="home-middle-app-data">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem ligula.</div>
			<div class="clear"></div>
			<div class="dotted-light-border">&nbsp;</div>
			<div class="clear">&nbsp;</div>
			<div class="float-left"><img src="/images/application-data-icon.jpg" title="icon" alt="icon" /></div>
			<div class="home-middle-app-data">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem ligula.</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
<div class="clear"></div>

<div class="home-bottom">
	<div class="home-bottom-content">
		<h2>SITE LINKS</h2>
		<div><a href="#">Home</a></div>
		<div><a href="#">We Data Catalogue</a></div>
		<div><a href="#">We Tools</a></div>
		<div><a href="#">About</a></div>
		<div><a href="#">Contact Us</a></div>
	</div>
	<div class="home-bottom-content">
		<h2>COMPANY</h2>
		<div><a href="#">Overview</a></div>
		<div><a href="#">Board of Directors</a></div>
		<div><a href="#">Investors</a></div>
		<div><a href="#">Management</a></div>
		<div><a href="#">Careers</a></div>
	</div>
	<div class="home-bottom-content">
		<h2>NEWSROOM</h2>
		<div><a href="#">All WeHub News</a></div>
		<div><a href="#">Press Release</a></div>
		<div><a href="#">WEHub in the Media</a></div>
		<div><a href="#">Media Kit</a></div>
		
	</div>
	<div class="home-bottom-content">
		<h2>OTHER LINKS</h2>
		<div><a href="#">WeHub.com</a></div>
		<div><a href="#">Customer Support</a></div>
		<div><a href="#">Developers Site</a></div>
		<div><a href="#">Tearms of Service</a></div>
		<div><a href="#">Privacy</a></div>
	</div>
</div>
<div class="clear"></div>
