<script>
  $(document).ready(function() {

    $('button').button();
    
    function download() {
      var format = $('[name=download-format]:checked').val();
      var ids = [];
      $('[type=checkbox][name=download]:checked').each(function() { ids.push($(this).val()); })
      window.location = '/item/download/?ids=' + ids + '&format=' + format;
    }
        
    function bindDownloadButtonset() {
      var formatSelector = $('.format-selector');
      formatSelector.buttonset();    

      $('button[name=download]')
        .button()
        .click(function() {
          formatSelector.hide();
          download();
        })
        .next()
          .button({ text: false, icons: { primary: 'ui-icon-triangle-1-s' }})
          .click(function() { 
            formatSelector.toggle();
           })
          .parent()
            .buttonset();
            
      $('[name=download-format]')
        .click(function() {
          formatSelector.hide();
          download();
        });
    }
    bindDownloadButtonset()

  });
</script>
<script>
  $(document).ready(function() {
    var opened = false;
    var searchMode = $('#search-mode');
    searchMode.click(function(event) {
      event.preventDefault();
      $('#advanced-search-panel').toggle();
      if (!opened) {
        searchMode.text('Simple Search');
        opened = true;
      } else {
        opened = false;
        searchMode.text('Advanced Search');
      }
    });
  });  
</script>

<div class="top-search-result">
	<span class="grey">Search Result:</span>&nbsp;<span class="black"><%= @search.query %></span>
</div>
<div class="clear height-10"></div>

<%= render 'search_panel' %>

<div class="search-center-container">
	<div>
		<img src="/images/temp-gmap.jpg" title="Temp Gmap" alt="Temp Gmap" border="0" />
	</div>
	<div class="clear height-15"></div>
	<div class="dashed-header"><h2>Search results:</h2></div>
	<div class="clear height-15"></div>
	
  <%= render "search_results" %>

	<div class="clear height-10"></div>
	<span id="download-buttonset-fragment">
        <span>
          <button name="download">Download</button>
          <button name="select-download-format">Select Format</button>
        </span>   
	</span>
	
	<button name="my-collection">+ My collection</button>
	<button name="clear">Clear</button>	
	
	<div class="clear height-25"></div>
	<div class="pagination">
		<span class="disabled prev_page">Previous</span>
		<span class="current">1</span>
		<a rel="next" href="/view/1?page=2">2</a>
		<a href="/view/1?page=3">3</a>
		......
		<a href="/view/1?page=98">98</a>
		<a href="/view/1?page=99">99</a>
		<a rel="next" class="next_page" href="/view/1?page=2">Next</a>
	</div>
</div>
<div class="search-box">
	<div class="clear height-10"></div>
	<div class="sub-content-right" style="width:210px;">
    <%= render 'shared/right_panel' %>
	</div>
</div>
<div class="clear"></div>
