<div class="full-content">
	<div class="registration-content">
		<table width="100%" border="0" class="registration-table">
			<tr>
				<td colspan="2" align="left" class="registration-header">
					<h2><span>Please fill out the following form to register as a member of the WEHub Community.</span></h2>
				</td>
			<tr>
				<td align="right" width="150">Name:</td>
				<td align="left">
					<div class="float-left">
						<div class="text-shade-left"></div>
						<div class="text-shade-repeat-205">
							<input type="text" value="First Name" />
						</div>
						<div class="text-shade-right"></div>
					</div>
					<div class="float-left">&nbsp;&nbsp;&nbsp;&nbsp;</div>
					<div class="float-left">
						<div class="text-shade-left"></div>
						<div class="text-shade-repeat-205">
							<input type="text" value="Last Name" />
						</div>
						<div class="text-shade-right"></div>
					</div>
				</td> 
			</tr>
			<tr>
				<td align="right">Gender:</td>
				<td align="left">
					<div class="text-shade-left"></div>
					<div class="text-shade-repeat-205">
						<select>
							<option>Male</option>
							<option>Female</option>
						</select>
					</div>
					<div class="text-shade-right"></div>
				</td>
			</tr>
			<tr>
				<td align="right">Birthday:</td>
				<td align="left">
					<div class="float-left">
						<div class="text-shade-left"></div>
						<div class="text-shade-repeat-205">
							<select>
								<option>Month</option>
							</select>
						</div>
						<div class="text-shade-right"></div>
					</div>
					<div class="float-left">&nbsp;&nbsp;&nbsp;&nbsp;</div>
					<div class="float-left">
						<div class="text-shade-left"></div>
						<div class="text-shade-repeat-95">
							<input type="text" value="Day" />
						</div>
						<div class="text-shade-right"></div>
					</div>
					<div class="float-left">&nbsp;&nbsp;&nbsp;&nbsp;</div>
					<div class="float-left">
						<div class="text-shade-left"></div>
						<div class="text-shade-repeat-95">
							<input type="text" value="Year" />
						</div>
						<div class="text-shade-right"></div>
					</div>
				</td>
			</tr>
			<tr>
				<td align="right">Country:</td>
				<td align="left">
					<div class="text-shade-left"></div>
					<div class="text-shade-repeat-205">
						<select>
							<option>Country</option>
						</select>
					</div>
					<div class="text-shade-right"></div>
				</td>
			</tr>
			<tr>
				<td align="right">Organization:</td>
				<td align="left">
					<div class="text-shade-left"></div>
					<div class="text-shade-repeat-205">
						<input type="text" value="" />
					</div>
					<div class="text-shade-right"></div>
				</td>
			</tr>
			<tr>
				<td align="right">Position:</td>
				<td align="left">
					<div class="text-shade-left"></div>
					<div class="text-shade-repeat-205">
						<input type="text" value="" />
					</div>
					<div class="text-shade-right"></div>
				</td>
			</tr>
			<tr>
				<td align="right">Email:</td>
				<td align="left">
					<div class="text-shade-left"></div>
					<div class="text-shade-repeat-205">
						<input type="text" value="" />
					</div>
					<div class="text-shade-right"></div>
				</td>
			</tr>
			<tr>
				<td align="right">Username:</td>
				<td align="left">
					<div class="text-shade-left"></div>
					<div class="text-shade-repeat-205">
						<input type="text" value="" />
					</div>
					<div class="text-shade-right"></div>
				</td>
			</tr>
			<tr>
				<td align="right">Password:</td>
				<td align="left">
					<div class="text-shade-left"></div>
					<div class="text-shade-repeat-205">
						<input type="password" value="" />
					</div>
					<div class="text-shade-right"></div>
				</td>
			</tr>
			<tr>
				<td align="right">Re-type Password:</td>
				<td align="left">
					<div class="text-shade-left"></div>
					<div class="text-shade-repeat-205">
						<input type="password" value="" />
					</div>
					<div class="text-shade-right"></div>
				</td>
			</tr>
			<tr>
				<td align="right">Secret Question:</td>
				<td align="left">
					<div class="text-shade-left"></div>
					<div class="text-shade-repeat-205">
						<select>
							<option>Lorem Ipsum dolot sit?</option>
						</select>
					</div>
					<div class="text-shade-right"></div>
				</td>
			</tr>
			<tr>
				<td align="right">Your answer:</td>
				<td align="left">
					<div class="text-shade-left"></div>
					<div class="text-shade-repeat-205">
						<input type="text" value="" />
					</div>
					<div class="text-shade-right"></div>
				</td>
			</tr>
			<tr>
				<td align="right">&nbsp;</td>
				<td align="left">
					<img src="/images/captch-temp-image.jpg" title="Captcha" alt="Captcha" />
				</td>
			</tr>
			<tr>
				<td align="right">Type the code shown:</td>
				<td align="left">
					<div class="text-shade-left"></div>
					<div class="text-shade-repeat-205">
						<input type="text" value="" />
					</div>
					<div class="text-shade-right"></div>
				</td>
			</tr>
			<tr>
				<td align="right">
					<input type="checkbox" />
				</td>
				<td align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td align="left">
					<a href="#" >
						<img src="/images/create-myaccount-button.jpg" alt="Create my account" title="Create my account" border="0" />
					</a>
				</td>
			</tr>
		</table>
	</div>
</div>