<div class="profile-left-box">
	<div class="profile-left-head">
		<span>Welcome </span>
		<span class="head-name">Kashif!</span>
	</div>
	<div class="clear"></div>
	<table width="100%" cellpadding="5">
		<tr>
			<td align="left" width="25%">
				Name:
			</td>
			<td align="left" class="font-bold" width="75%" >
				Kashif Anjum
			</td>
		</tr>
		<tr>
			<td align="left">
				Email:
			</td>
			<td align="left">
				justoprint@gmail.com
			</td>
		</tr>
		<tr>
			<td align="left">
				Organization:
			</td>
			<td align="left" class="font-bold">
				ikreates
			</td>
		</tr>
		<tr>
			<td align="left" valign="top">
				Friends:
			</td>
			<td align="left">
				<% for i in 1..7%>
				<div class="profile-left-friends-list">
					<img src="/images/friend-small-thumb.jpg" alt="Friends" title="Friends" border="0" />
				</div>
				<% end%>
				<div class="profile-left-friends-list-more">
					+<br />More
				</div>
			</td>
		</tr>
		<tr>
			<td align="left">
				Group:
			</td>
			<td align="left" class="font-bold">
				ikreates
			</td>
		</tr>
		<tr>
			<td align="left">
				Dataset:
			</td>
			<td align="left" class="font-bold">
				ip3
			</td>
		</tr>
	</table>
</div>
<div class="profile-right-container">
	<div class="profile-tab-container">
		<div class="profile-tab">
			Info
		</div>
		<div class="profile-tab ">
			Wall
		</div>
	</div>
	<div class="clear"></div>
	<div class="profile-content-container">
		<div class="profile-activity-post-box">
			<div class="text-plain-left"></div>
			<div class="text-plain-repeat-600">
				<input type="text" value="Enter text here!" />
			</div>
			<div class="text-plain-right"></div>
			<div class="clear height-10"></div>
			
			<div class="text-plain-left"></div>
			<div class="text-plain-repeat-280">
				<input type="text" value="http://" />
			</div>
			<div class="text-plain-right"></div>
			<div class="clear"></div>
			
			<div class="float-right">
				<a href="#">
					<img src="/images/post-button.jpg" alt="Post" title="Post" border="0" />
				</a>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear height-25"></div>
		<div class="border-dotted"></div>
		<div class="clear height-25"></div>
		
		<% for i in 1..2%>
		<div class="activity-content-box">
			<div class="activity-image">
				<img src="/images/friends/pro-kashif.jpg" alt="Activity" title="Activity" border="0" />
			</div>
			<div class="activity-text">
				<div class="title">
					Kashif Anjum
				</div>
				<div class="">
					<span>New Dataset: </span>
					<span class="dataset">IP3</span>
				</div>
				<div class="comments-activity-text">
					show 5 comments
				</div>
			</div>
			<div class="activity-ago">
				3 hours ago
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		
		<div class="activity-content-box">
			<div class="activity-image">
				<img src="/images/friends/pro-ruby.jpg" alt="Activity" title="Activity" border="0" />
			</div>
			<div class="activity-text">
				<div class="title">
					Ruby
				</div>
				<div class="">
					<span>Joined Group: </span>
					<span class="group">Waterworks</span>
				</div>
				<div class="comments-activity-text">
					show 5 comments
				</div>
			</div>
			<div class="activity-ago">
				3 hours ago
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		
		<div class="activity-content-box">
			<div class="activity-image">
				<img src="/images/friends/pro-andrew.jpg" alt="Activity" title="Activity" border="0" />
			</div>
			<div class="activity-text">
				<div class="title">
					Andrew
				</div>
				<div class="">
					<span class="group">http:where2conf.com/where2011</span>
					<br />
					<span>where 2.0 Rocks!</span>
				</div>
				<div class="comments-activity-text">
					show 5 comments
				</div>
			</div>
			<div class="activity-ago">
				3 hours ago
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<% end%>
		
		<div class="clear height-25"></div>
		<div class="pagination">
			<span class="disabled prev_page">Previous</span>
			<span class="current">1</span>
			<a rel="next" href="/view/1?page=2">2</a>
			<a href="/view/1?page=3">3</a>
			......
			<a href="/view/1?page=98">98</a>
			<a href="/view/1?page=99">99</a>
			<a rel="next" class="next_page" href="/view/1?page=2">Next</a>
		</div>
	
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>