<div class="activity-content-box">

<%
=begin %>			
	<div class="activity-image">
		<img src="/images/friends/pro-kashif.jpg" alt="Activity" title="Activity" border="0" />
	</div>
<%
=end %>			

	<div class="share-text">
		<div class="title">
			<%= link_to user.name, { :controller => 'user', :action => 'profile', :id => user.id } %>
		</div>
		<% if user.datasets %>
		<div class="">
			<span class="head">Datasets: </span>
		  <% user.datasets.each do |dataset| %>
			<span class="content-text"><%= link_to dataset.name, :controller => 'catalogue', :action => 'details', :id => dataset.uuid %></span>
			<% end %>
		</div>
		<% end %>

<%
=begin %>
		<div class="">
			<span class="head">Groups:</span>
			<span class="content-text">Waterworks</span>
		</div>
<%

=end %>				
	</div>
	<div class="float-right">
    <% if !edit %>
      <% content_tag :button, :type => :button, :name => :befriend, :onclick => onclick_link_to({ :controller => 'community', :action => 'befriend', :id => user.id }) do %>
      + Add friend
      <% end %>
    <% else %>
      <% content_tag :button, :type => :button, :name => :befriend, :onclick => onclick_link_to({ :controller => 'community', :action => 'unfriend', :id => user.id }) do %>
      - Remove friend
      <% end %>    
    <% end %>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>		

