<div class="profile-left-box">
	<div class="profile-left-head">
		<span>Welcome </span>
		<span class="head-name">Joe!</span>
	</div>
	<div class="clear"></div>
	<table width="100%" cellpadding="5">
		<tr>
			<td align="left" width="25%">
				Name:
			</td>
			<td align="left" class="font-bold" width="75%" >
				Joe Pooky
			</td>
		</tr>
		<tr>
			<td align="left">
				Email:
			</td>
			<td align="left">
				justoprint@gmail.com
			</td>
		</tr>
		<tr>
			<td align="left">
				Organization:
			</td>
			<td align="left" class="font-bold">
				ikreates
			</td>
		</tr>
		<tr>
			<td align="left" valign="top">
				Friends:
			</td>
			<td align="left">
				<% for i in 1..7%>
				<div class="profile-left-friends-list">
					<img src="/images/friend-small-thumb.jpg" alt="Friends" title="Friends" border="0" />
				</div>
				<% end%>
				<div class="profile-left-friends-list-more">
					+<br />More
				</div>
			</td>
		</tr>
		<tr>
			<td align="left">
				Group:
			</td>
			<td align="left" class="font-bold">
				ikreates
			</td>
		</tr>
		<tr>
			<td align="left">
				Dataset:
			</td>
			<td align="left" class="font-bold">
				ip3
			</td>
		</tr>
	</table>
</div>
<div class="profile-right-container">
	<div class="community-tab-ul">
		<ul>
			<li class="news">
				<a href="#">
					<img src="/images/spacer.gif" border="0" width="51" height="65" /><br />
					News
				</a>
			</li>
			<li class="friends-selected">
				<a href="#">
					<img src="/images/spacer.gif" border="0" width="51" height="65" /><br />
					Friends
				</a>
			</li>
			<li class="groups">
				<a href="#">
					<img src="/images/spacer.gif" border="0" width="51" height="65" /><br />
					Groups
				</a>
			</li>
			<li class="datasets">
				<a href="#">
					<img src="/images/spacer.gif" border="0" width="51" height="65" /><br />
					Share Datasets
				</a>
			</li>
		</ul>
	</div>
	<div class="community-tab-right">
		<div class="profile-tab profile-tab-select">
			Profile
		</div>
	</div>
	<div class="clear"></div>
	<div class="profile-content-container">
		<div class="community-sub-tab-ul">
			<ul>
				<li>
					<a href="#">Find Friends</a>
				</li>
				<li class="selected">
					<a href="#">Edit Current Friends</a>
				</li>
			</ul>
		</div>
		<div class="clear"></div>
		
				
		<% for i in 1..3%>
		<div class="activity-content-box">
			<div class="activity-image">
				<img src="/images/friends/pro-kashif.jpg" alt="Activity" title="Activity" border="0" />
			</div>
			<div class="share-text">
				<div class="title">
					Kashif Anjum
				</div>
				<div class="">
					<span class="head">Dataset: </span>
					<span class="content-text">IP3</span>
					<span class="content-text">Lorem ipsum</span>
				</div>
				<div class="">
					<span class="head">Groups:</span>
					<span class="content-text">Waterworks</span>
				</div>
			</div>
			<div class="friends-edit-delete">
				<a href="#">
					<img src="/images/edit-community-small-buttom.jpg" border="0" alt="Edit Friend" title="Edit Friend" />
				</a>
				<a href="#">
					<img src="/images/delete-round-small-button.jpg" border="0" alt="Delete Friend" title="Delete Friend" />
				</a>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		
		<div class="activity-content-box">
			<div class="activity-image">
				<img src="/images/friends/pro-ruby.jpg" alt="Activity" title="Activity" border="0" />
			</div>
			<div class="share-text">
				<div class="title">
					Ruby
				</div>
				<div class="">
					<span class="head">Dataset: </span>
					<span class="content-text">IP3</span>
					<span class="content-text">Lorem ipsum</span>
				</div>
				<div class="">
					<span class="head">Groups:</span>
					<span class="content-text">Waterworks</span>
				</div>
			</div>
			<div class="friends-edit-delete">
				<a href="#">
					<img src="/images/edit-community-small-buttom.jpg" border="0" alt="Edit Friend" title="Edit Friend" />
				</a>
				<a href="#">
					<img src="/images/delete-round-small-button.jpg" border="0" alt="Delete Friend" title="Delete Friend" />
				</a>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		
		<div class="activity-content-box">
			<div class="activity-image">
				<img src="/images/friends/pro-zardari.jpg" alt="Activity" title="Activity" border="0" />
			</div>
			<div class="share-text">
				<div class="title">
					Zardari
				</div>
				<div class="">
					<span class="head">Dataset: </span>
					<span class="content-text">IP3</span>
					<span class="content-text">Lorem ipsum</span>
				</div>
				<div class="">
					<span class="head">Groups:</span>
					<span class="content-text">Waterworks</span>
				</div>
			</div>
			<div class="friends-edit-delete">
				<a href="#">
					<img src="/images/edit-community-small-buttom.jpg" border="0" alt="Edit Friend" title="Edit Friend" />
				</a>
				<a href="#">
					<img src="/images/delete-round-small-button.jpg" border="0" alt="Delete Friend" title="Delete Friend" />
				</a>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<% end%>
				
		<div class="clear height-25"></div>
		<div class="pagination">
			<span class="disabled prev_page">Previous</span>
			<span class="current">1</span>
			<a rel="next" href="/view/1?page=2">2</a>
			<a href="/view/1?page=3">3</a>
			......
			<a href="/view/1?page=98">98</a>
			<a href="/view/1?page=99">99</a>
			<a rel="next" class="next_page" href="/view/1?page=2">Next</a>
		</div>
	
		
	</div>
</div>
<div class="clear"></div>