
<div id="response">
  <div>
    <strong>API Call</strong>
    <div id="uri">
      <% if @info_type == 'dataset' %>
        <% url = CGI.unescape(url_for :controller => 'api', :action => 'dataset', :id => "#{@datasets}?key=#{current_user.api_key}&output=#{@output}", :only_path => false) %>
        <%= "<a href=\"#{url}\" target=\"blank\">#{url}</a>".html_safe %>      
      <% else %>
        <% url = CGI.unescape(url_for :controller => 'api', :action => 'feature', :id => "#{@datasets}?key=#{current_user.api_key}#{@bounds}#{@extent}&output=#{@output}", :only_path => false) %>
        <%= "<a href=\"#{url}\" target=\"blank\">#{url}</a>".html_safe %>      
      <% end %>

    </div>
  </div>
  <div>
    <strong>API Response</strong>
    <div id="message"><pre><%= @response %></pre></div>
  </div>
</div>
