<style>
  .format-selector {
    font-size: .8em;
    padding: 10px;
    margin-left: 128px;
    z-index: 100;
  }
</style>

<script>
  $(document).ready(function() {

    $('button').button();
    
    function download() {
      var format = $('[name=download-format]:checked').val();
      var ids = [];
      $('[type=checkbox][name=download]:checked').each(function() { ids.push($(this).val()); })
      if (ids.length != 0) {
        var uri = "<%= url_for :controller => 'item', :action => 'download' %>";
        $.getJSON(uri + '?ids=' + ids + '&format=' + format, function(data) {
          if (data.success) {
            window.location = uri + '?filename=' + data.filename; 
          } else {
            var message = '';
            if ($(data.errors).length > 0) {
              $(["test","dude"]).each(function(error) { message += error; });  
            }
            if (message == '') {
              message = 'A download for these datasets could not be generated.';
            }
            WEHub.modal("We're Sorry", message);
          }
        });      
      }
    }
        
    function bindDownloadButtonset() {
      var formatSelector = $('.format-selector');
      formatSelector.buttonset();    

      $('button[name=download]')
        .button()
        .click(function() {
          formatSelector.hide();
          download();
        })
        .next()
          .button({ text: false, icons: { primary: 'ui-icon-triangle-1-s' }})
          .click(function() { 
            formatSelector.toggle();
           })
          .parent()
            .buttonset();
            
      $('[name=download-format]')
        .click(function() {
          formatSelector.hide();
          download();
        });
    }
    bindDownloadButtonset()
    
    $('[name=clear]').click(function() {
      $('[type=checkbox][name=download]').attr('checked', false);
    });
    
    <% if logged_in? %>
    $('[name=my-collection]').click(function() {
      var ids = [];
      $('[type=checkbox][name=download]:checked').each(function() { ids.push($(this).val()); })
      if (ids.length != 0) {
        $.post("<%= url_for :controller => 'user', :action => 'save' %>", { ids: ids }); 
      }
    });    
    <% end %>
  })
</script>

<div style="text-align: center; padding-top: 20px;">
  <div style="padding-bottom: 5px;">
    <span id="download-buttonset-fragment">
      <span>
        <button name="download">Download</button>
        <button name="select-download-format">Select Format</button>
      </span>
    </span>

    <button name="my-collection">+ My collection</button>
    <button name="clear">Clear</button>
  </div>

  <span style="display: none;" class="format-selector ui-widget-content ui-corner-all ui-state-active">
    Select format
    <% ['JSON', 'Shape', 'XML', 'CSV'].each do |format| %>
      <%= label_tag "download-format[#{format}]", format %><%= radio_button_tag 'download-format', format %>
    <% end %>
  </span>
</div>
