<script>
  $(document).ready(function() {
    if (WEHub.logged_in()) {
      $('.user-welcome-box').show();
      $('.no-auth').hide();
      
      $('.username').text(WEHub.display_name());
    }
  });
</script>
<div class="user-dashboard">
  <div class="no-auth">
    <%= link_to image_tag('login.jpg', :alt => 'Log in', :border => 0), { :controller => 'user', :action => 'log-in' }, :class=> 'log-in' %>
    <span class="seperator">|</span>
    <%= link_to image_tag('signup.jpg', :alt => 'Register', :border => 0), { :controller => 'user', :action => 'register' }, :class=> 'sign-up' %>
  </div>
  <div class="clear"></div>
  <div class="user-welcome-box" style="display: none;">
    <div  class="welcome-name">
    Hi, <%= link_to 'Username', { :controller => 'user', :action => 'profile' }, :class => 'username' %>
    </div>
    <div class="float-left">
    <%= link_to image_tag('logout.jpg', :alt => 'Log out', :border => 0), { :controller => 'user', :action => 'log-out' }, :class=> 'log-out' %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>  
</div>
