<div class="user-dashboard">
<% if !logged_in? %>
  <div class="no-auth" >
    <%= link_to image_tag('signup.jpg', :alt => 'Register', :border => 0), { :controller => 'user', :action => 'register' }, :class=> 'sign-up' %>
	  <span class="seperator">|</span>
    <%= link_to image_tag('login.jpg', :alt => 'Log in', :border => 0), { :controller => 'user', :action => 'log-in' }, :class=> 'log-in' %>
  </div>
<% else %>
  <div class="auth">
    <span class="banner">Welcome <a href="#" class="profile"><%= current_user.display_name %></a></span>
	  <span class="seperator">|</span>
    <%= link_to image_tag('logout.jpg', :alt => 'Log out', :border => 0), { :controller => 'user', :action => 'logout' }, :class=> 'log-out' %>
	</div>
<% end %>
</div>
