<table id="feature_type_4_fragment" class="fragment">
  <tr>
    <td></td>
    <td style="text-align: center">
      Start
    </td>
    <td style="text-align: center">
      End
    </td>
  </tr>
  <tr>
    <td>Date / time</td>
    <td>
      <input id="bound_start" name="bound_start" type="text" />
    </td>
    <td>
      <input id="bound_end" name="bound_end" type="text" />
    </td>
  </tr>
</table>
