<p>
This two year, $1.8 million project is funded by Western Economic Diversification Canada, University of Lethbridge, and Cybera Inc.. The project is driven by University of Lethbridge, and Cybera Inc. and supported by various water organizations.
</p>

<h2>Potential Data Partners</h2>
<div style="margin: 10px;">
  <strong>Government</strong>
  <ul>
      <li>UNGEMS </li>
      <li>Global Runoff Data Centre (GRDC)</li>
      <li>eBird</li>
      <li>Natural Resources Canada</li>
      <li>Groundwater Information Network (GIN)</li>
      <li>Environment Canada</li>    
      <li>USGS</li>
      <li>US EPA</li>    
      <li>Alberta Environment</li>
      <li>BC Ministry of Environment through the Land Resources Data Warehouse</li>
      <li>Saskatchewan Watershed Authority</li>
      <li>Manitoba Water Stewardship</li>
      <li>Ontario Ministry of Environment</li>
      <li>Montana State Library</li>
  </ul>
  <strong>Academic</strong>
  <ul>
      <li>GeoCENS</li>
      <li>IP3</li>
      <li>WC2N</li>
      <li>Drought Research Initiative (DRI)</li>
      <li>Lake Winnipeg Research Consortium</li>
  </ul>
</div>

<p>This website was produced with financial assistance provided by Western Economic Diversification Canada.</p>

<h2>Who Should Use The Water Data Platform</h2>
<p>
The WEHUB is seeking members from all levels of government, industry, water-related research and non-government organizations, or those interested in everyday water use, to help us create the largest water data catalogue on the Internet by uploading their environmental research/observations. This focal point for water data will benefit government, industry, academia, and individuals seeking this information, as well as those looking to build customized applications on top of the web platform.
</p>
