<p>
The Water Environmental Hub began in 2010 with $1.8 million of seed funding over two years from Western Economic Diversification Canada, University of Lethbridge, and Cybera Inc..
</p>

<p>
The project is currently managed by <a href="http://www.explorus.org/">Explorus Data Solutions Inc.</a> (not-for-profit), <a href="http://www.cybera.ca/">Cybera Inc.</a>, <a href="http://www.tesera.com/">Tesera Systems Inc.</a>, and <a href="http://www.uleth.ca/">University of Lethbridge</a>. It is also supported by various water and environmental data organizations including the <a href="http://www.imagingcenter.ca/">Alberta Terrestrial Imaging Center</a>, <a href="http://www.albertatechfutures.ca/">Alberta Innovates Technology Futures - Energy and Environmental Solutions</a>, and <a href="http://www.seawa.ca/">SEAWA - South East Alberta Watershed Alliance</a>. The project is currently being funded by <a href="http://geoconnections.nrcan.gc.ca/">Natural Resources Canada - GeoConnections</a> and the <a href="http://www.canadaschoolofenergy.com/">Canadian School of Energy and Environment</a>.
</p>
<h2>Potential Data Partners</h2>
<div style="margin: 10px;">
  <strong>Government</strong>
  <ul>
    <li>UNGEMS</li>
    <li>Global Runoff Data Centre (GRDC)</li>
    <li>Natural Resources Canada</li>
    <li>Groundwater Information Network (GIN)</li>
    <li>Environment Canada</li>    
    <li>USGS</li>
    <li>US EPA</li>    
    <li>Alberta Environment and Sustainable Resource Development</li>
    <li>BC Ministry of Environment</li>
    <li>Saskatchewan Watershed Authority</li>
    <li>Manitoba Water Stewardship</li>
    <li>Ontario Ministry of Environment</li>
    <li>Montana State Library</li>
  </ul>
  <strong>Academic</strong>
  <ul>
    <li>University of Lethbridge (WISE, ATIC)</li>
    <li>University of Calgary (GeoCENS)</li>
    <li>University of Saskatchewan (IP3)</li>
    <li>University of Northern British Columbia (WC2N)</li>
    <li>University of Manitoba - Drought Research Initiative (DRI)</li>
    <li>Lake Winnipeg Research Consortium</li>
  </ul>
  <strong>NGO</strong>
  <ul>
    <li>Open Geospatial Consortium (OGC)</li>
    <li>Open Data BC</li>
    <li>Open Data SK</li>
    <li>eBird</li>
    <li>SEAWA - South East Alberta Watershed Alliance</li>
    <li>Milk River Watershed Council Canada</li>
    <li>Nova Scotia CURA H20</li>
    <li>World Wildlife Fund Canada</li>
    <li>Water Data Hub</li>
  </ul>
  <strong>Industry</strong>
  <ul>
    <li>Aquatic Informatics</li>
    <li>Kisters North America</li>
  </ul>
</div>

<p>This website was produced with financial assistance provided by Western Economic Diversification Canada, Natural Resources Canada - GeoConnections, and the Canadian School of Energy and Environment.</p>

<h2>Who Should Use The Water Data Platform</h2>
<p>
The WEHUB is seeking members from all levels of government, industry, water-related researchers and non-government organizations, or those interested in innovation with water data, to help us create the largest source of water data on the Internet by uploading their water and environmental data. This focal point for water data will benefit government, industry, academia, and individuals seeking this information, as well as those looking to build customized applications on top of the web platform using our API.
</p>
