<p>
The Water and Environmental Hub (WEHUB) project is a cloud-based, open source web platform that aggregates, federates, and connects water data and information with users looking to download, analyze, model and interpret water and environmental-based information. 
</p>

<p>
The vision of WEHUB is to make all water and environmental data open and accessible via the web, freeing resources previously consumed by searching for, and acquiring, those data. This collaborative approach will enable new water perspectives while accelerating water research, integrated management, innovation and economic diversification.
</p>

<h2>The WEHUB platform features:</h2>
<ul>
    <li>A data catalogue and spatial data map that allow for easy search and discovery, as well as downloading, of datasets.</li>
    <li>Tools to visualize the data.</li>
    <li>Social networking, to enable commenting, flagging and sharing of datasets.</li>
</ul>

<h2>A World of Water Data</h2>
<p>All users are invited to upload their water and environmental data. The site uses open standards (OGC), and data can be uploaded as a shapefile, comma-separated value (CSV), or as a web service feed.</p>

<h2>Build your own Water App</h2>
<p>The open web platform also offers an innovative aggregator service linked to a unified output service (API). This enables organizations and users to develop customized applications on top of the WEHUB platform to interpret its water and environmental data and put it to productive use. </p>

<h2>Core Principles</h2>
<ul>
    <li><strong>Open and Accessible</strong> - Offering a web-based platform as a service, with open source architecture, very low barrier to entry, and inclusive to everyone.</li>
    <li><strong>Enabling and Collaborative yet Respectful</strong> - Empowering everyone to engage in the "doing" in real time, leveraging social networks, and acknowledging the unique nature and contributions of each organization taking part in the collaborative partnership.</li>
    <li><strong>Efficient, Entrepreneurial, and Innovative</strong> - Increasing the utility for users, opening up opportunities, spurring economic activity, leveraging existing resources, and extending existing solutions.</li>
</ul>

<p><strong>Key words:</strong> Water, open, data, web 2.0, gov 2.0, big data, geospatial, GIS, hub, infostructure, API, apps, interoperability, mass geomedia, open source, agile, semantic web, web 3.0, xML, SLATES, cloud, distributed/grid computing, social media/networks, mashup, real time, ubiquitous web, location-aware, snow, ice, river, lake, precipitation, groundwater, water quantity, water quality, watersheds, eresearch, 4th paradigm, meta-analysis, data mining</p>
