<p>
The Water and Environmental Hub (WEHUB) project is a cloud-based, open source web platform that’s making it easier for individuals and organizations to find, access, and share water and environmental data.
</p>

<p>
What differentiates our approach from many others is our scalable and robust, cloud-based IT platform and web-based applications that support a wide variety of datasets and international data standards. This allows the WEHUB to provide open and transparent access to many different types of environmental datasets from many different public and private sector data providers.
</p>

<p>
The WEHUB platform’s scalable and robust architecture supports a distributed approach to data management and sharing. The WEHUB allows any user or group to easily search, access and share water and environmental data from multiple providers and sources through a single web-based window. The WEHUB’s advanced “translator” feature allows it to pull data on-demand from a growing variety of different data sources, and present this data to users in a unified, standardized and consistent format.  
</p>

<p>
The WEHUB’s comprehensive and searchable data catalogue directly connects users with a requested dataset, and a full metadata profile. Users can easily add their own data to the WEHUB’s catalogue, selectively share their collection of data, comment on other datasets, or build mobile and web-based applications using the WEHUB’s API toolkit.
</p>

<p>
The vision of WEHUB is to make all water and environmental data open and accessible via the web, freeing resources previously consumed by searching for, and acquiring, those data. This collaborative approach will enable new water perspectives while accelerating water research, integrated management, innovation and economic diversification.
</p>

<h2>The WEHUB offers:</h2>
<ul>
    <li>Access to one of Canada’s largest online water and environmental data catalogues, allowing users to easily search, connect to, and download thousands of datasets.</li>
    <li>Social networking tools that enable users to comment, flag and selectively share a growing selection of water and environmental datasets.</li>
    <li>Tools to help users visualize and interact with the data through charts and graphs.</li>
    <li>An application programming interface (API) that allows software developers efficient machine to machine access to the data.</li>
</ul>

<h2>A World of Water Data</h2>

<p>
All users and organizations are invited to upload and share their water and environmental data. The WEHUB’s open source platform and architecture leverages the Open Geospatial Consortium’s international standards and endorsed software (e.g., Web Map Service, Web Feature Service and GML, GeoServer, PostGIS, Open Layers), interoperability experiments (e.g., Sensor Observation Service, WaterML, GroundwaterML, and others) allowing for a distributed web-based approach to data sharing, and easy integration with other external data sources and providers.
</p>

<p>
Data can be uploaded/downloaded as a shapefile, comma-separated value (CSV file), or as a web service feed. Additional data file types will also be available in the near future.
</p>

<h2>Build your own Water App</h2>
<p>The WEHUB’s open web platform also offers an innovative aggregator service linked to a unified output service (API). This enables organizations and software developers to develop customized mobile and web-based applications on top of the WEHUB platform - to interpret its water and environmental data, and put it to productive use.</p>

<h2>Core Principles</h2>

<ul>
  <li><strong>Flexible</strong> - In order of priority: (i) Adopt existing and proven systems; (ii) Adapt existing systems that can easily re-purposed; and (iii) Develop new systems, only if required.</li>
	<li><strong>Independent, Free, Open and Accessible</strong> - Develop approaches that produce publicly available information in different forms (ranging from raw data to analysis) in a timely manner, and that enables all stakeholders to easily conduct their own analysis and draw their own conclusions.</li>
	<li><strong>Open Source</strong> - Where appropriate and feasible, support and aggregate both open source and proprietary technology, interconnection and integration.</li>
	<li><strong>Operationally Excellent and Standards-based</strong> - Develop common data standards and comprehensive datasets that are easily accessible to all stakeholders for modeling, analysis, and decision support.</li>
	<li><strong>Responsive and Relevant</strong> - Ensure data is available 24/7 to all stakeholders and users.</li>
	<li><strong>Robust and Scalable</strong> - Develop a system that is durable, and that can continuously grow and improve.</li>
	<li><strong>Transparent</strong> - Ensure that data and information is publicly available, and that data, methodologies are disclosed regularly, and in a timely manner.</li>
</ul>

<h2>WEHUB Timeline since 2010</h2>

<div class="dipity_embed" style="width:1050px; padding-left: 40px;"><iframe width="1050" height="400" src="http://www.dipity.com/cybera/WEHUB-from-start-to-finish/?mode=embed&z=0#tl" style="border:1px solid #CCC;"></iframe><p style="margin:0;font-family:Arial,sans;font-size:13px;text-align:center"><a href="http://www.dipity.com/cybera/WEHUB-from-start-to-finish/">WEHUB from start to finish</a> on <a href="http://www.dipity.com/" />Dipity</a>.</p></div>

<p><strong>Key words:</strong> Water, open, data, web 2.0, gov 2.0, big data, geospatial, GIS, hub, infostructure, API, apps, interoperability, mass geomedia, open source, agile, semantic web, XML, SLATES, cloud, distributed/grid computing, social media/networks, mashup, real time, ubiquitous web, location-aware, snow, ice, river, lake, precipitation, groundwater, water quantity, water quality, watersheds, eresearch, 4th paradigm, meta-analysis, data mining, data analytics</p>
