<p>
For more information on water and environmental data, the WEHUB recommends the following related projects and organizations.
</p>

<h2>Platforms</h2>
<ul>
  <li><a href="http://gw-info.net">GIN</a></li>
  <li><a href="http://www.geocens.ca">GeoCENS</a></li>
  <li><a href="https://www.dataone.org/">DataONE</a></li>
  <li><a href="http://www.albertawater.com/">AB WaterPortal</a></li>
</ul>


<h2>Data</h2>
<ul>
    <li><a href="http://www.cuahsi.org/">CUAHSI</a></li>
    <li><a href="http://www.opengeospatial.org/">OGC</a></li>
    <li><a href="http://www.gemswater.org/">UNGEMS</a></li>
<!--    GRDC -->
    <li><a href="http://www.data.gc.ca/">Government of Canada - Open Data</a></li>
    <li><a href="http://www.weatheroffice.gc.ca/">Environment Canada</a></li>
    <li><a href="http://www.usa.gov/">US Government</a></li>
    <li><a href="http://www.usgs.gov/">USGS</a></li>
    <li><a href="http://www.epa.gov/">EPA</a></li>
    <li><a href="http://www.opendatabc.ca/">Government of BC - OpenDataBC</a></li>
    <li><a href="http://www.calgary.ca/">City of Calgary</a></li>
    <li><a href="http://www.edmonton.ca/">City of Edmonton</a></li>
    <li><a href="http://vancouver.ca/">City of Vancouver</a></li>
</ul>


<h2>Apps</h2>
<ul>
    <li><a href="http://www.albertawater.com/index.php?option=com_content&view=article&id=620">Alberta WaterPortal Apps Links</a></li>
    <li><a href="http://www.waterhackathon.org/">Water Hackathon</a></li>
    <li><a href="http://www.livesmartbc.ca/A4CA/">BC Apps 4 Climate Action</a></li>
    <li><a href="http://contest.apps4edmonton.ca/ideas">Apps 4 Edmonton</a></li>
    <li><a href="http://www.apps4ottawa.ca/">Apps4Ottawa</a></li>
    <li><a href="http://appsfordevelopment.challengepost.com/">AppsforDevelopment</a></li>
    <li><a href="http://www.epa.gov/">EPA</a></li>
    <li><a href="http://www.albertawater.com/seawa/">SEAWA State of Watershed</a></li>
    <li><a href="http://www.brbc.ab.ca/">Bow River State of Watershed</a></li>
    <li><a href="http://www.ifishalberta.com/">iFish Alberta!</a></li>
    <li><a href="http://waterly.ca/">Waterly</a></li>
    <li><a href="http://www.dnr.state.mn.us/lakefind/index.html">Lakefinder</a></li>
</ul>


<h2>People and Discussions</h2>
<ul>
    <li><a href="http://eaves.ca/about/">David Eaves</a></li>
<!--    Tracy Legualt -->
<!--    Civic Access -->
    <li><a href="http://www.linkedin.com/in/christopherjmoore">Chris Moore</a></li>
    <li><a href="http://djkelly.ca/">DJ Kelly</a></li>
<!--    Open Calgary -->
    <li><a href="http://groups.google.com/group/opendatabc?pli=1">OpenDataBC Google Group</a></li>
</ul>
