<p>
For more information on water and environmental data, the WEHUB recommends the following related projects and organizations.
</p>

<h2>Platforms</h2>
<ul>
  <li>GeoConnections - Canadian Geospatial Data Infrastructure - <a href="http://www.geoconnections.org/en/aboutcgdi.html">http://www.geoconnections.org/en/aboutcgdi.html</a></li>
  <li>Natural Resources Canada - Groundwater Information Network (GIN) - <a href="http://gw-info.net">http://gw-info.net</a></li>
  <li>Geospatial Cyberainfrastructure for Environmental Sensing (GeoCENS) - <a href="http://geocens.ca">http://geocens.ca</a></li>
  <li>Alberta WaterPortal - <a href="http://albertawater.com">http://albertawater.com</a></li>
  <li>US National Science Foundation - DataOne - <a href="http://dataone.org">http://dataone.org</a></li>
</ul>

<h2>Data Standards</h2>
<ul>
  <li>Open Geospatial Consortium - <a href="http://www.opengeospatial.org/">http://www.opengeospatial.org/</a></li>
  <li>Consortium of Universities for the Advancement of Hydrological Science <a href="http://www.cuahsi.org">http://www.cuahsi.org</a></li>
  <li>North American Stream Hydrographers - <a href="http://www.hydrographers.org">http://www.hydrographers.org</a></li>
</ul>

<h2>Data</h2>
<ul>
  <li>United Nations GEMS/Water Program - <a href="http://gemswater.org">http://gemswater.org</a></li>
  <li>Government of Canada - Open Data - <a href="http://www.data.gc.ca">http://www.data.gc.ca</a></li>
  <li>Environment Canada - <a href="http://www.ec.gc.ca/rhc-wsc/default.asp?lang=En&n=9018B5EC-1">http://www.ec.gc.ca/rhc-wsc/default.asp?lang=En&n=9018B5EC-1</a></li>
  <li>Data dot gc.ca - <a href="http://www.datadotgc.ca">http://www.datadotgc.ca</a></li>
  <li>NatureCounts.ca/eBird.ca - <a href="http://ebird.ca">http://ebird.ca</a></li>
  <li>US Government - Open Data - <a href="http://www.data.gov">http://www.data.gov</a></li>
  <li>US Geological Survey (USGS) - <a href="http://waterdata.usgs.gov/nwis">http://waterdata.usgs.gov/nwis</a></li>
  <li>US EPA - <a href="http://water.epa.gov">http://water.epa.gov</a></li>
  <li>Alberta Environment and Water - <a href="http://www.environment.alberta.ca/apps/basins/default.aspx">http://www.environment.alberta.ca/apps/basins/default.aspx</a></li>
  <li>Regional Aquatics Monitoring Program (RAMP) - <a href="http://www.ramp-alberta.org">http://www.ramp-alberta.org</a></li>
  <li>Oil Sands Research Information Network (OSRIN) - <a href="http://www.see.ualberta.ca/OSRIN.cfm">http://www.see.ualberta.ca/OSRIN.cfm</a></li>
  <li>Cumulative Effects in Wood Buffalo - <a href="http://cemaonline.ca">http://cemaonline.ca</a></li>
  <li>BC Land and Data Warehouse - <a href="http://lrdw.ca">http://lrdw.ca</a></li>
  <li>OpenDataBC - <a href="http://www.opendatabc.ca">http://www.opendatabc.ca</a></li>
  <li>OpenDataSK - <a href="http://opendatask.ca">http://opendatask.ca</a></li>
  <li>Manitoba Water Stewardship - <a href="http://www.gov.mb.ca/waterstewardship/odw/public-info/general-info/portal.html">http://www.gov.mb.ca/waterstewardship/odw/public-info/general-info/portal.html</a></li>
  <li>City of Calgary - <a href="http://cityonline.calgary.ca">http://cityonline.calgary.ca</a></li>
  <li>City of Edmonton - <a href="http://data.edmonton.ca">http://data.edmonton.ca</a></li>
  <li>City of Medicine Hat, AB - <a href="http://data.medicinehat.ca">http://data.medicinehat.ca</a></li>
  <li>City of Vancouver - <a href="http://data.vancouver.ca">http://data.vancouver.ca</a></li>
  <li>City of Nanaimo, BC - <a href="http://data.nanaimo.ca">http://data.nanaimo.ca</a></li>
</ul>

<h2>Apps</h2>
<ul>
  <li>WEHUB’s 1st #waterapp - Flowchart - <a href="http://itunes.apple.com/app/wehub-flowchart/id490165934?mt=8">iPhone</a> or <a href="https://market.android.com/details?id=com.explorus.flowchart">Android</a></li>
  <li>Southeast Alberta Watershed Alliance (SEAWA) - <a href="http://www.albertawater.com/seawa/">http://www.albertawater.com/seawa/</a></li>
  <li>Bow River State of Watershed - <a href="http://wsow.brbc.ab.ca/index.php?option=com_content&view=article&id=249&Itemid=184">http://wsow.brbc.ab.ca/index.php?option=com_content&view=article&id=249&Itemid=184</a></li>
  <li>iFish Alberta! - <a href="http://www.ifishalberta.com">http://www.ifishalberta.com</a></li>
  <li>Waterly - <a href="http://www.waterly.ca">http://www.waterly.ca</a></li>
  <li>Lakefinder - <a href="http://www.dnr.state.mn.us/lakefind/index.html">http://www.dnr.state.mn.us/lakefind/index.html</a></li>
  <li>Apps4Water - <a href="http://apps4water.ca">http://apps4water.ca</a></li>
  <li>Alberta WaterPortal Apps Links - <a href="http://www.albertawater.com/index.php?option=com_content&view=article&id=620">http://www.albertawater.com/index.php?option=com_content&view=article&id=620</a></li>
</ul>

<h2>App Contests</h2>
<ul>
  <li>Water Hackathon - <a href="http://www.waterhackathon.org">http://www.waterhackathon.org</a></li>
  <li>BC Apps 4 Climate Action - <a href="http://www.livesmartbc.ca/A4CA/">http://www.livesmartbc.ca/A4CA/</a></li>
  <li>Apps 4 Edmonton - <a href="http://contest.apps4edmonton.ca/ideas">http://contest.apps4edmonton.ca/ideas</a></li>
  <li>Apps4Ottawa - <a href="http://www.apps4ottawa.ca">http://www.apps4ottawa.ca</a></li>
  <li>AppsforDevelopment - <a href="http://appsfordevelopment.challengepost.com">http://appsfordevelopment.challengepost.com</a></li>
</ul>

<h2>Open Data People and Discussions</h2>
<ul>
  <li><a href="http://eaves.ca/about/">David Eaves</a></li>
  <li><a href="http://www.linkedin.com/in/christopherjmoore">Chris Moore (CIO - City of Edmonton)</a></li>
  <li><a href="http://djkelly.ca/">DJ Kelly</a></li>
  <li><a href="http://groups.google.com/group/opendatabc?pli=1">OpenDataBC Google Group</a></li>
</ul>
