<h2>Staff</h2>
<p>
Alex Joseph - Executive Director, Water and Environmental Hub       
</p>

<h2>Project Partners</h2>
<p>
The first phase of the Water and Environmental Hub project ($1.8 million over 2 years) would not be possible without the support of the following partners:
</p>
<ul>
    <li><a href="http://www.wd.gc.ca/">Western Economic Diversification Canada (WD)</a></li>
    <li><a href="http://www.uleth.ca">University of Lethbridge</a></li>
    <li><a href="http://www.cybera.ca">Cybera Inc.</a></li>
    <li><a href="http://www.tesera.com/">Tesera Systems Inc.</a></li>
    <li><a href="http://bgs.ucalgary.ca/">University of Calgary, Biogeosciences Institute</a></li>
    <li><a href="http://grid.ucalgary.ca/about_partners.html">University of Calgary, Grid Research Centre</a></li>
    <li><a href="http://www.tecterra.com/new_ventures.shtml">Tecterra - GECKO Funding</a></li>
    <li><a href="http://www.wid.net/">Western Irrigation District</a></li>
    <li><a href="https://www.dataone.org/">US National Science Foundation - DataONE</a></li>
</ul>
