<h2>Staff</h2>
<p>
<ul>
  <li>Bruce MacArthur - President and CEO, Explorus Data Solutions Inc.</li>
  <li>Alex Joseph - Executive Director, Explorus Data Solutions Inc. (Water and Environmental Hub)</li>
  <li>Mike Scarth - Strategic Development, Explorus Data Solutions Inc.</li>
</ul>
</p>

<h2>Project Partners</h2>
<p>
The Water and Environmental Hub project is made possible with the support of the following partners (chronological order):
</p>
<ul>
    <li><a href="http://www.wd.gc.ca/">Western Economic Diversification Canada (WD)</a></li>
    <li><a href="http://www.uleth.ca">University of Lethbridge</a></li>
    <li><a href="http://www.cybera.ca">Cybera Inc.</a></li>
    <li><a href="http://www.tesera.com/">Tesera Systems Inc.</a></li>
    <li><a href="http://bgs.ucalgary.ca/">University of Calgary, Biogeosciences Institute</a></li>
    <li><a href="http://grid.ucalgary.ca/about_partners.html">University of Calgary, Grid Research Centre</a></li>
    <li><a href="http://www.tecterra.com/new_ventures.shtml">Tecterra - GECKO Funding</a></li>
    <li><a href="http://www.wid.net/">Western Irrigation District</a></li>
    <li><a href="https://www.dataone.org/">US National Science Foundation - DataONE</a></li>
    <li><a href="http://www.iisd.org/">International Institute of Sustainable Development</a></li>
    <li><a href="http://explorus.org/">Explorus Data Solutions Inc.</a></li>
    <li><a href="http://geoconnections.nrcan.gc.ca/">Natural Resources Canada - GeoConnections</a></li>
    <li><a href="http://www.canadaschoolofenergy.com/">Canadian School of Energy and Environment</a></li>
    <li><a href="http://www.imagingcenter.ca/">Alberta Terrestrial Imaging Center</a></li>
    <li><a href="http://www.albertatechfutures.ca/">Alberta Innovates Technology Futures - Energy and Environmental Solutions</a></li>
    <li><a href="http://www.seawa.ca/">SEAWA - South East Alberta Watershed Alliance</a></li>
    <li><a href="http://curah2o.com/">CURA H20</a></li>
    <li><a href="http://www.safe.com/">Safe Software Inc. (FME Server)</a></li>
</ul>
