<p>
The WEHUB aims to open access to and encourage the collaborative sharing of water and environmental data. This online platform has been created to be inclusive, integrated, flexible and scalable. The WEHUB also empowers its users to engage in real-time "doing" by leveraging social networks and hosting customizable, open-source applications to help interpret the data and put it to work.
</p>

<p>
Data is split into two categories:
  <ul>
    <li><span>Base Data</span><br />
    Data measuring fairly constant or relatively unchanging features of the landscape. Examples include elevation contours, river locations, road networks, park boundaries, etc.</li>
    <li><span>Observational Data</span><br />
    Data that is measuring one or more changing variables over a period of time. Examples include water temperature, river or stream flow rate, air quality, permafrost thickness, etc.</li>
  </ul>
</p>

<p>
Some of the data are preliminary and have been transmitted automatically without verification or review for quality assurance. The WEHUB project accepts no liability for the accuracy, availability, suitability, reliability, usability, completeness or timeliness of the data or graphical depictions rendered from the data. To review our full Terms of Service, please click here. (hyperlink to Terms of Service page)
</p>

<p>
To contribute to the WEHUB data catalogue, users must register for a WEHUB account. Users can then log into the platform and upload files and meta data into the system. Data needs to be uploaded in .shp (shapefile) or .csv format. Other file formats will be available soon.
</p> 
