<% if @reviews %>
  <% @reviews.each_with_index do |review, i| %>
<div class="review">
  <table style="border-spacing: 0px;">
    <tr>
      <td style="padding: 0px">
    <section class="rating-container">
  <% 5.times do |i| %>
    <%= radio_button("review[#{review.id}]", 'rating', i+1, { :checked => (i+1 == review.rating) }) -%>
  <% end %>
    </section>    
      </td>
      <td> -
  <% if review.user %>
    <span class="user"><%= link_to_if(!review.user.nil?, review.user.name, { :controller => 'user', :action => 'profile', :id => review.user_id }) %></span>,
  <% end %>
    <span class="date"><%= review.created_at %></span>    
      </td>
    </tr>
  </table>
  <% if review.comments %>
  <span class="comments"><%= review.comments %></span>
  <% end %>
</div>
  <% end %>
<% end %>
