<div class="left-tab-body">
  <div class="left-tab chart-button line-chart tab-select">
    <a href="#line">Line</a>
  </div>
  <div class="left-tab chart-button pie-chart">
    <a href="#pie">Pie</a>
  </div>
</div>
<div class="clear"></div>
