<div class="tab-menu-body">
	<div class="tab-menu">
		<%= link_to 'WE Data Map', :controller => 'tools', :action => 'map', :id => @id %>
	</div>
	<div class="tab-menu">
		<%= link_to 'WE Data Graphs', :controller => 'tools', :action => 'chart', :id => @id %>
	</div>
	<div class="tab-menu tab-menu-select">
		<%= link_to 'Developers', :controller => 'tools', :action => 'developers', :id => @id %>
	</div>
</div>
<div class="clear"></div>

<div class="sub-content-body">
	<div class="sub-content-left">
		<div class="dotted-light-border-top-bottom height-2"></div>
		<div class="clear"></div>
		<div id="filter-container">
			<div class="filter-part">
				<div class="filter-left">
					<input type="checkbox">
				</div>
				<div class="filter-right">
					<div>
						<select class="select-box-1">
							<option>Dataset</option>
						</select>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			
			<div class="filter-part">
				<div class="filter-left">
					<input type="checkbox">
				</div>
				<div class="filter-right">
					<div>
						<select class="select-box-1">
							<option>Dataset</option>
						</select>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			
			<div class="filter-part">
				<div class="filter-left">
					<input type="checkbox">
				</div>
				<div class="filter-right">
					<div>
						<select class="select-box-1">
							<option>Dataset</option>
						</select>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			
			<div class="filter-part">
				<div class="filter-left">
					&nbsp;
				</div>
				<div class="filter-right">
					<div>
						<span class="button">
							<button>Update</button>
						</span>
						<span class="button">
							<button>Remove</button>
						</span>
					</div>
					<div>
						<span class="button">
							<button>+ Dataset</button>
					</span>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			
			
			<div class="dotted-light-border-top-bottom height-2"></div>
			<div class="clear"></div>
			
			
		</div>
	</div>
	<div class="sub-content-full">
		<div class="dashed-header">
			<h2>
				API Request
			</h2>
		</div>
		<div class="clear"></div>
		
		<div class="left-tab-body slight-margin">
			<div class="left-tab tab-select">
				Capabilities
			</div>
			<div class="left-tab">
				Layers
			</div>
			<div class="left-tab">
				Getdata
			</div>			
		</div>
		<div class="clear"></div>
		
		<div class="developers-cotent-area">
			<textarea>http://wehub.getdata:dataset1:dataset2:dataset3</textarea>
		</div>
	</div>
	
	<div class="clear"></div>
</div>