<%= render 'modal_error' %>
<style>
  .mini-loading-dialog {
    background: white url(/images/spinner.gif) center top no-repeat;
    height: 55px;
    opacity: 0.6;
  }
  .sub-content-center .table-body {
    width: 773px;
    overflow: auto;
    padding-bottom: 15px;    
  }
</style>
<script>
$(document).ready(function() {
  var table = $('#table-chart');

  var page = 0;
  var columnName;
  var direction = 'ASC';
  $(document).bind('tablesorterMoveToNextPage', function() {
    page = page + 1;
    loadDataAndDrawTable($('[name=dataset]:checked').val(), page)
  });

  $(document).bind('tablesorterMoveToPrevPage', function() {
    page = page - 1;
    if (page < 0) {
      page = 0;
    }
    loadDataAndDrawTable($('[name=dataset]:checked').val(), page)
  });
  
  $(document).bind('sortStart', function(event) {
    if (columnName && columnName == columnName) {
      direction = (direction === 'DESC') ? 'ASC' : 'DESC';
    } 
    columnName = $(arguments[1]).text();
    
    loadDataAndDrawTable($('[name=dataset]:checked').val(), page, { by: columnName, direction: direction} )
  });
  
  function idFromUrl(url) { return url.match(/([\w-]*).html/)[1]; } 
    
  function loadDataAndDrawTable(uuid, page, sort) {
    var page = !page ? 0 : page;
    var size = 100;
    var sortQuery = ''
    if (sort) {
      sortQuery = '&sort[by]=' + sort.by + '&sort[direction]=' + sort.direction;
    }
    
    var datasetElement = $('.datasets.' + uuid);
    datasetElement.addClass('mini-loading-dialog');

    $.ajax({
      url: '<%= (url_for :controller => 'tools', :action => 'table_feature').html_safe %>' + '/' + uuid + '.html' + '?page[start]=' + page + '&page[size]=' + size + sortQuery,
      global: false,
      dataType: 'text',
      success: function(data) {
        if (data != '') {

          var checkbox = $('[name=datasets] .' + idFromUrl(this.url) + ' [name=dataset]');
          checkbox.attr('checked', true).removeAttr('disabled');
          datasetElement.removeClass('mini-loading-dialog');
    
          $('#table-message').hide();          
          table.html(data);
          
          table
            .tablesorter({widthFixed: true, widgets: ['zebra']})
            .tablesorterPager({container: $("#table-chart-pager"), positionFixed: false, size: 100});
          $('#table-chart-pager').show();

          $('form[name=download] [name=ids]').val($('[name=dataset]:checked').val());
        } else {
          disableDataset(idFromUrl(this.url));        
        }
      },
      error: function() {
        disableDataset(idFromUrl(this.url));
      }
    });
  }
  
  function disableDataset(uuid) {
    var datasetElement = $('.datasets.' + uuid);
    datasetElement.removeClass('mini-loading-dialog').addClass('ui-state-disabled')
    datasetElement.find('input').attr('disabled', true);
    $('#table-chart-pager').hide();
    $('#table-message').show().html("We're sorry, we couldn't retrieve the feature data for this dataset. Please try another dataset.");
  }

  
  $('.datasets').removeClass('mini-loading-dialog');
  $('form[name=datasets] [name=dataset]').click(function(event) {
    $('[name=datasets] [name=dataset]').attr('checked', false);
    loadDataAndDrawTable(event.target.value);
  });
  
  $('form[name=datasets] [name=dataset]:checked').each(function() {
    loadDataAndDrawTable(this.value);
  });
  
  if ($('form[name=datasets] [name=dataset]:checked').length === 0) {
    $('form[name=datasets] [name=dataset]:first').trigger('click');
  }
});

</script>
<%= render 'tool_tab_menu' %>
<div class="clear"></div>
<style>
  #filter-container ul {
    padding: 0px;
    margin: 0 -6px 0 20px;
  }
  #filter-container li {
    font-size: 30px;
    line-height: 18px;
  }
</style>
<div class="sub-content-body">
  <div class="sub-content-left">
    
    <div id="filter-container">
      <div id="filter-content">
      
      <%= render(:partial => 'datasets_form', :locals => { :show_dataset_properties => false }) -%>
            
      </div>
    </div>
    
  </div>
  <div class="sub-content-center">
    <div class="table-body">
      
      <div id="table-message">
        Sit tight. We're loading your table request.
        <p>This may take a while depending on your internet connection speed and the size of the dataset.</p>
      </div>

      <table id="table-chart" class="table-sorter"></table>

      <div id="table-chart-pager" class="pager" style="display: none;">
        <img src="/images/table-sorter-pager-prev.png" class="prev"/>
        <img src="/images/table-sorter-pager-next.png" class="next"/>
      </div>
      
    </div>    
  </div>
  <div class="clear"></div>
</div>
