<select name="groups" id="groups">
  <option value="0"></option>
<% @groups.each do |group| %>
  <%=raw "<option value=\"#{group.id}\">#{group.name.capitalize} (#{group.private ? 'private' : 'public' }) </option>" %> 
<% end %>
</select>
