<div class="full-content">
	<div class="registration-content">
		<table width="100%" border="0" class="registration-table">
			
			<tr>
				<td align="right" width="150">Name:</td>
				<td align="left">
					<div class="float-left">
						<div class="text-shade-left"></div>
						<div class="text-shade-repeat-205">
							<input type="text">
						</div>
						<div class="text-shade-right"></div>
					</div>
					<div class="float-left">&nbsp;&nbsp;&nbsp;&nbsp;</div>
					<div class="float-left">
						<div class="text-shade-left"></div>
						<div class="text-shade-repeat-205">
							<input type="text">
						</div>
						<div class="text-shade-right"></div>
					</div>
				</td> 
			</tr>

			<tr>
				<td align="right">Email:</td>
				<td align="left">
					<div class="text-shade-left"></div>
					<div class="text-shade-repeat-205">
						<input type="text">
					</div>
					<div class="text-shade-right"></div>
				</td>
			</tr>
			
			<tr>
				<td align="right">Password:</td>
				<td align="left">
					<div class="text-shade-left"></div>
					<div class="text-shade-repeat-205">
						<input type="password">
					</div>
					<div class="text-shade-right"></div>
				</td>
			</tr>
			
			<tr>
				<td align="right">Re-type Password:</td>
				<td align="left">
					<div class="text-shade-left"></div>
					<div class="text-shade-repeat-205">
						<input type="password">
					</div>
					<div class="text-shade-right"></div>
				</td>
			</tr>
			
			<tr>
				<td align="right">Gender:</td>
				<td align="left">
					<div class="text-shade-left"></div>
					<div class="text-shade-repeat-205">
						<select>
							<option>Male</option>
							<option>Female</option>
						</select>
					</div>
					<div class="text-shade-right"></div>
				</td>
			</tr>

			<tr>
				<td align="right">Country:</td>
				<td align="left">
					<div class="text-shade-left"></div>
					<div class="text-shade-repeat-205">
						<select>
							<option>Country</option>
						</select>
					</div>
					<div class="text-shade-right"></div>
				</td>
			</tr>
						
			<tr>
				<td align="right">State / Province:</td>
				<td align="left">
					<div class="text-shade-left"></div>
					<div class="text-shade-repeat-205">
						<select>
							<option>State / Province</option>
						</select>
					</div>
					<div class="text-shade-right"></div>
				</td>
			</tr>
						
			<tr>
				<td align="right">Profile Photo:</td>
				<td align="left">
					<input type="file">
				</td>
			</tr>
			
			<tr>
				<td align="right">Website Url:</td>
				<td align="left">
					<div class="text-shade-left"></div>
					<div class="text-shade-repeat-205">
						<input type="text">
					</div>
					<div class="text-shade-right"></div>
				</td>
			</tr>

			<tr>
				<td>&nbsp;</td>
				<td align="left">
		          <span class="button">
		          	<input type="submit" value="Update">
		          </span>
				</td>
			</tr>
		</table>
	</div>
</div>