<div class="profile-left-box">
	<div class="profile-left-head">
		<span>Welcome </span>
		<span class="head-name">Kashif!</span>
	</div>
	<div class="clear"></div>
	<table width="100%" cellpadding="5">
		<tr>
			<td align="left" width="25%">
				Name:
			</td>
			<td align="left" class="font-bold" width="75%" >
				Kashif Anjum
			</td>
		</tr>
		<tr>
			<td align="left">
				Email:
			</td>
			<td align="left">
				justoprint@gmail.com
			</td>
		</tr>
		<tr>
			<td align="left">
				Organization:
			</td>
			<td align="left" class="font-bold">
				ikreates
			</td>
		</tr>
		<tr>
			<td align="left" valign="top">
				Friends:
			</td>
			<td align="left">
				<% for i in 1..7%>
				<div class="profile-left-friends-list">
					<img src="/images/friend-small-thumb.jpg" alt="Friends" title="Friends" border="0" />
				</div>
				<% end%>
				<div class="profile-left-friends-list-more">
					+<br />More
				</div>
			</td>
		</tr>
		<tr>
			<td align="left">
				Group:
			</td>
			<td align="left" class="font-bold">
				ikreates
			</td>
		</tr>
		<tr>
			<td align="left">
				Dataset:
			</td>
			<td align="left" class="font-bold">
				ip3
			</td>
		</tr>
	</table>
</div>
<div class="profile-right-container">
	<div class="profile-tab-container">
		<div class="profile-tab profile-tab-select">
			Info
		</div>
		<div class="profile-tab">
			Wall
		</div>
	</div>
	<div class="clear"></div>
	<div class="profile-content-container">
		<div class="profile-image-box">
			<img src="/images/temp-profile-image.jpg" title="Profile Image" alt="Profile Image" border="0" />
		</div>
		<div class="profile-content-details">
			<div class="profile-title-head">
				Kashif Anjum
			</div>
			<div class="float-right">
				<a href="#">
					<img src="/images/edit-profile-button.jpg" alt="Edit Profile" title="Edit Profile" border="0" />
				</a>
			</div>
			<div class="clear"></div>
			<div class="calendar-text profile-label">Born on August 25, 1984</div>
			<div class="marker-text profile-label">Lives in Karachi Pakistan</div>
			<div class="clear"></div>
			<div class="profile-text profile-label">Working in Karachi</div>
			<div class="mobile-text profile-label">+92-313-9237500</div>
			<div class="clear"></div>
			<div class="message-text profile-label">justoprint@gmail.com</div>
			<div class="speak-text profile-label">English, Punjabi, Urdu</div>
			<div class="clear"></div>
			<div class="profile-sub-head">
				<div class="float-left">
					About me
				</div>
				<div class="float-right">
					<a href="#">
						<img src="/images/edit-small-button.jpg" alt="edit" title="edit" border="0" />
					</a>
				</div>
			</div>
			<div class="profile-content-para">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem ligula. Fusce vestibulum, ipsum eget imperdiet rhoncus, augue leo semper massa, non porta velit massa nec massa. Sed venenatis velit et odio iaculis vulputate fermentum mi volutpat. Suspendisse velit massa, pharetra ultricies lacinia sed, cursus quis erat. Nunc a dui at neque vestibulum egestas fringilla quis augue. 
			</div>
			<div class="clear"></div>
			
			<div class="profile-sub-head">
				<div class="float-left">
					Skills
				</div>
				<div class="float-right">
					<a href="#">
						<img src="/images/edit-small-button.jpg" alt="edit" title="edit" border="0" />
					</a>
				</div>
			</div>
			<div class="profile-content-para">
				 <div class="profile-text-part">
				 	Lorem ipsum dolor sit amet
				 </div>
				 <div class="profile-text-part">
				 	Lorem ipsum dolor sit amet
				 </div>
				 <div class="profile-text-part">
				 	Lorem ipsum dolor sit amet
				 </div>
				 <div class="profile-text-part">
				 	Lorem ipsum dolor sit amet
				 </div>
				 <div class="profile-text-part">
				 	Lorem ipsum dolor sit amet
				 </div>
				 <div class="profile-text-part">
				 	Lorem ipsum dolor sit amet
				 </div>
				 <div class="profile-text-part">
				 	Lorem ipsum dolor sit amet
				 </div>
				 <div class="profile-text-part">
				 	Lorem ipsum dolor sit amet
				 </div>
			</div>
			<div class="clear"></div>
			
			
			<div class="profile-sub-head">
				<div class="float-left">
					Interests:
				</div>
				<div class="float-right">
					<a href="#">
						<img src="/images/edit-small-button.jpg" alt="edit" title="edit" border="0" />
					</a>
				</div>
			</div>
			<div class="profile-content-para">
				 <div class="profile-text-part">
				 	Ip3 (Dataset)
				 </div>
				 <div class="profile-text-part">
				 	Waterwork (Dataset)
				 </div>
				 <div class="profile-text-part">
				 	H2o Power (Dataset)
				 </div>
				 <div class="profile-text-part">
				 	Water Walk (Dataset)
				 </div>
				 <div class="profile-text-part">
				 	Water work (group)
				 </div>
				 <div class="profile-text-part">
				 	Lorem ipsum dolor sit amet
				 </div>
				 <div class="profile-text-part">
				 	ikreates (Group)
				 </div>
				 
			</div>
			<div class="clear"></div>
			<div class="profile-sub-head">
				<div class="float-left">
					Friends:
				</div>
				<div class="float-right">
					<a href="#">
						<img src="/images/edit-small-button.jpg" alt="edit" title="edit" border="0" />
					</a>
				</div>
			</div>
			<div class="profile-content-para">
				<div class="profile-friend-each">
					<div class="float-left">
						<img src="/images/friends/ruby.jpg" title="Friend" alt="Friend" border="0"/>
					</div>
					<div class="text">
						<div>Ruby</div>
						<div>26 datasets</div>
					</div>
				</div>
				
				<div class="profile-friend-each">
					<div class="float-left">
						<img src="/images/friends/sara.jpg" title="Friend" alt="Friend" border="0"/>
					</div>
					<div class="text">
						<div>Sara John</div>
						<div>13 datasets</div>
					</div>
				</div>
				
				<div class="profile-friend-each">
					<div class="float-left">
						<img src="/images/friends/zardari.jpg" title="Friend" alt="Friend" border="0"/>
					</div>
					<div class="text">
						<div>Zardari</div>
						<div>92 datasets</div>
					</div>
				</div>
				
				<div class="profile-friend-each">
					<div class="float-left">
						<img src="/images/friends/andrew.jpg" title="Friend" alt="Friend" border="0"/>
					</div>
					<div class="text">
						<div>Andrew</div>
						<div>29 datasets</div>
					</div>
				</div>
				
				<div class="profile-friend-each">
					<div class="float-left">
						<img src="/images/friends/john.jpg" title="Friend" alt="Friend" border="0"/>
					</div>
					<div class="text">
						<div>John</div>
						<div>61 datasets</div>
					</div>
				</div>
				
				<div class="profile-friend-each">
					<div class="float-left">
						<img src="/images/friends/sheela.jpg" title="Friend" alt="Friend" border="0"/>
					</div>
					<div class="text">
						<div>Sheela</div>
						<div>29 datasets</div>
					</div>
				</div>
				
				<div class="profile-friend-each">
					<div class="float-left">
						<img src="/images/friends/baba.jpg" title="Friend" alt="Friend" border="0"/>
					</div>
					<div class="text">
						<div>Baba lion</div>
						<div>26 datasets</div>
					</div>
				</div>
				
				<div class="profile-friend-each">
					<div class="float-left">
						<img src="/images/friends/lorence.jpg" title="Friend" alt="Friend" border="0"/>
					</div>
					<div class="text">
						<div>Lorem ipsum</div>
						<div>26 datasets</div>
					</div>
				</div>
				
				<div class="profile-friend-each">
					<div class="float-left">
						<img src="/images/friends/ruby.jpg" title="Friend" alt="Friend" border="0"/>
					</div>
					<div class="text">
						<div>Ruby</div>
						<div>26 datasets</div>
					</div>
				</div>
				
				<div class="profile-friend-each">
					<div class="float-left">
						<img src="/images/friends/sara.jpg" title="Friend" alt="Friend" border="0"/>
					</div>
					<div class="text">
						<div>Sara John</div>
						<div>13 datasets</div>
					</div>
				</div>
				
				<div class="profile-friend-each">
					<div class="float-left">
						<img src="/images/friends/zardari.jpg" title="Friend" alt="Friend" border="0"/>
					</div>
					<div class="text">
						<div>Zardari</div>
						<div>92 datasets</div>
					</div>
				</div>
				
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>
